<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>GrocerMax</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport" /> -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href='landing-page/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" href='landing-page/css/grocermaxFont.css' />
	<link rel="stylesheet" type="text/css" href='landing-page/css/custom.css' />
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M2NNXD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2NNXD');</script>
<!-- End Google Tag Manager -->
<script>dataLayer.push({'server':'hot-page'});</script>

<header style="position:relative;">
<div class="row c-reset" style="padding: 12px 0 12px 0px;">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 c-reset" style="text-align: center;background-color: #fff;">
				<div class="col-xs-2" style="text-align: left;padding: 0px;">
				<a href="javascript:void(0);" onclick="toggle()" id='burger' style="display: inline-block;">
					<span class="gmax-burger-menu" style="float: left;font-size:20px;margin: 15px 0 0px 20px;"></span>
					
				</a>
				</div>
				<div class="col-xs-8" style="text-align: center;padding: 0px;"><a href="http://m.grocermax.com/" style="display: inline-block;">
			<img src="https://dpwdpaqmm8kd.cloudfront.net/images/png/logo-min.png" class="img-responsive" style="height: 53px;">
				</a>
				</div>
				<div class="col-xs-2" style="text-align: right;padding: 4px 0px;">
				
  <a href="javascript:void(0);" style="display: inline-block;padding: 6px 15px 6px 0px;">
  <span class="gmax-cart c-font-26" style="margin-top: 4px;font-size:26px;float:right;"></span>
  </a>
</div>
	<div id="left-menu" style="position: absolute; top: 67px;z-index: 9999; background-color: rgb(255, 255, 255);display:none;">
	<!--<div class="menu-item-h">HOME</div>-->
	<ul class="list-unstyled slide-left" style="text-align:left;">
		
		<li class="item-shop" data-ng-click="is_active = !is_active">
            SHOP BY CATEGORIES</li>
		<!-- ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2621" class="c-font-white">
			Grocery &amp; Staples </a>
			
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2678" class="c-font-white">
			Fruits &amp; Vegetables
			</a>
		
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
			<a href="http://m.grocermax.com/#/category/2701" class="c-font-white"> Beverages</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2717" class="c-font-white">	Dairy, Bakery &amp; Eggs
		</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2728" class="c-font-white">	Branded Food </a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2779" class="c-font-white">	Family Care</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2804" class="c-font-white">	Home Care &amp; Utilities</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2839" class="c-font-white">	Non-Veg</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories --><li class="menu-item ng-hide" data-ng-show="is_active">
		<a href="http://m.grocermax.com/#/category/2846" class="c-font-white">	Frozen</a>
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li><!-- end ngRepeat: category in categories -->  
        <li class="item-shop" style="border-top: 1px solid #48392C;">
		<a href="http://m.grocermax.com/#/deals/1">
		SHOP BY DEALS</a></li>
        <!-- ngRepeat: deal in deals --><!-- ngRepeat: deal in deals --><!-- end ngRepeat: deal in deals -->
		<!-- <li class="item-shop" 
            data-ng-click="navigateToHotOffers()">SHOP BY DEALS</li> -->
		<li class="item-shop">
            <a href="mailto:hello@grocermax.com">GET IN TOUCH WITH US</a></li>
			<li class="item-shop"><a href="http://m.grocermax.com/#/page/faq">FAQ's</a></li>
			<li class="item-shop"><a href="http://m.grocermax.com/#/page/contact">Contact Us</a></li>
			<!-- <li><a href="/#/page/payment">Payment Methods</a></li> -->
			<li class="item-shop"><a href="http://m.grocermax.com/#/page/term">Terms of Service</a></li>
			<li class="item-shop"><a href="http://m.grocermax.com/#/page/about">About us</a></li>
		
	</ul>
</div>
			</div>
			</div>
			<div class="row c-reset" style="background-color: #fcbe32;padding: 11px 10px 12px;text-align: center;">
			<div style="display: inline;position: relative;">
				<input type="text" id="topsearch" class="c-search-placeholder" placeholder="Search for groceries" style="border-radius: 21px;outline: none;width: 80%;font-size: 17px;padding: 5px 31px 5px 10px;color: #fff;background-color: #d3d3d3;border: solid #fff 4px;">
				<a href="javascript:void(0);" id='searchicon' style="right: 13px;position: absolute;z-index: 0;top: -5px;color: #fff;">
  <span class="gmax-search-shadow c-font-26" style="
    font-size: 34px;
    /* z-index: 2; */
"><span class="path1"></span><span class="path2"></span></span>

</a>
  
  </div>
			</div>
	</header>

<!-- banner 1 start-->
	<section class="row c-reset" id="banner1">
		<a ><img id="land1" src='landing-page/images/bar-bar-dekho.jpg' alt="Bar-bar-dekho" class="img-responsive"></a>
		<div class="row c-reset" style="background-color: #fffde1;position: relative;top: -1px;text-align: center;padding-bottom: 10px;">
			<div class="col-xs-3 c-reset" >
				<img src='landing-page/images/left-img.png' class="img-responsive">
			</div>
			<div class="col-xs-6 c-reset">
				<p>Min ₹150 Off</p>
				<p>on your first order</p>
				<p>CODE <label style="background-color: #f9ce46;padding: 0px 10px 1px 10px;border-radius: 4px;margin: 0 0 0 10px;">NEW150</label></p>
			</div>
			<div class="col-xs-3 c-reset" >
				<img src='landing-page/images/right-img.png' class="img-responsive" style="float: right;">
			</div>
		</div>
		<div class="row c-reset" style="background-image: url(landing-page/images/border-bottom.png);height: 27px;"></div>
	</section>
<!-- banner 1 end-->

	<!-- banner 2 start-->
	<section class="row c-reset" id="banner2" style="background-image: url(landing-page/images/texture-min.jpg);position: relative;top: -1px;">
		<a  class="land2" alt="ghar-kar-ration" style="cursor:pointer;"><img src="landing-page/images/ghar-ka-ration.jpg" class="img-responsive" style="background-color: #fff;"></a>
		<div class="row c-reset" style="background-color: #ffe6e1;position: relative;top: -1px;text-align: center;padding-bottom: 10px;">
		  	<p  class="item-description">Your favourite cooking essentials, minus those traffic jams and long queues</p>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/left-img.png' class="img-responsive">
			</div>
			<div class="col-xs-6 c-reset">
				<a  class="land2" alt="ghar-kar-ration"  style="cursor:pointer;">WATCH NOW</a>
			</div>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/right-img.png' class="img-responsive" style="float: right;">
			</div>
		</div>
		<div class="row c-reset" style="background-image: url(landing-page/images/border-bottom.png);height: 27px;"></div>
	</section>
	<!-- banner 2 end-->

	<!-- banner 3 start-->
	<section class="row c-reset" id="banner3" style="position: relative;top: -1px;background-image: url(images/texture-min.jpg);">
		<a  class="land3"  alt="mandi-dekho" style="cursor:pointer;" ><img src="landing-page/images/mandi-dekho.jpg" class="img-responsive"></a>
		<div class="row c-reset" style="background-color: #ffe6e1;position: relative;top: -1px;text-align: center;padding-bottom: 10px;">
		  	<p  class="item-description">Why go to Mandi to get freshness and best price. Let Mandi come to your doorstep</p>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/left-img.png' class="img-responsive">
			</div>
			<div class="col-xs-6 c-reset">
				<a class="land3" alt="mandi-dekho" style="cursor:pointer;">WATCH NOW</a>
			</div>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/right-img.png' class="img-responsive" style="float: right;">
			</div>
		</div>
		<div class="row c-reset" style="background-image: url(landing-page/images/border-bottom.png);height: 27px;"></div>
	</section>
	<!-- banner 3 end-->
	<!-- banner 4 start-->
	<section class="row c-reset" id="banner4" style="position: relative;top: -1px;background-image: url(landing-page/images/texture-min.jpg);">
		<a href="http://m.grocermax.com/#/specialdeal?sku=6"><img src="landing-page/images/snack-dekho.jpg" class="img-responsive"></a>
		<div class="row c-reset" style="background-color: #ffe6e1;position: relative;top: -1px;text-align: center;padding-bottom: 10px;">
		  	<p  class="item-description">More reasons to host a party now. Order all party essentials here!!</p>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/left-img.png' class="img-responsive">
			</div>
			<div class="col-xs-6 c-reset">
				<a href="http://m.grocermax.com/#/specialdeal?sku=6">WATCH NOW</a>
			</div>
			<div class="col-xs-3 c-reset">
				<img src='landing-page/images/right-img.png' class="img-responsive" style="float: right;">
			</div>
		</div>
		<div class="row c-reset" style="background-image: url(landing-page/images/border-bottom.png);height: 27px;"></div>
	</section>
	<!-- banner 4 end-->

<!--by neyaz-->
	<section class="row c-reset yellow-gradient" style="position: relative;">
		<div style="margin: 12px 25px;">
		  <img src="landing-page/images/ourpromises.png" class="img-responsive">
		</div>
		<div class="row c-reset">
		<div class="col-xs-6" style="padding: 10px;text-align: center;">
			<span class="gmax-plant g-icon-font"></span>
			<span class="c-font-uppercase c-font-bold categ-descrip">All Items Below MRP</span>
		</div>
		<div class="col-xs-6" style="padding: 10px;	text-align: center;">
			<span class="gmax-wheat g-icon-font"></span>
			<span class="c-font-uppercase c-font-bold categ-descrip">Same day delivery</span>
		</div>
		</div>
		<div class="row c-reset">
		<div class="col-xs-6" style="padding: 10px;text-align: center;">
			<span class="gmax-carrot g-icon-font"></span>
			<span class="c-font-uppercase c-font-bold categ-descrip">freshness guaranteed</span>
		</div>
		<div class="col-xs-6" style="padding: 10px;text-align: center;">
			<span class="gmax-beans g-icon-font"></span>
			<span class="c-font-uppercase c-font-bold categ-descrip">expert quality check</span>
		</div>
		</div>
		<div style="margin: 12px 25px;">
		  <img src="landing-page/images/signupformore.png" width="100%" >
		</div>

		<div id="newslater">
			<div style="margin: 10px 0px;text-align: center;">
		  		<input type="text" id='enteremailplaceholder' placeholder="Enter your e-mail id" style="padding: 5px;font-size: 20px;width: 68%;border: solid #999999 1px;">
		  		<p id="validationMsg" style=""></p>
			</div>
		
			<p class="c-center"><a href="javascript:void(0);" onclick="emailValidateAndSend();" class="c-btn-shop">SUBMIT</a>
			</p>
		</div>
		<div id="respnews" style="display: none;color:#ff1616;text-align: center;"> </div>

	</section>

	<section class="row c-reset pb-30">
	<p class="heading c-font-bold">Browse through our vast variety of categories with a range of 8000+ products.</p>
	<div class="col-xs-4">
		<img src="landing-page/images/grocery-and-staples.png" class="img-responsive catcheck" alt="Grocery and Staples"  link="http://m.grocermax.com/#/category/2621">
		<span class="c-font-bold item-name">Grocery &amp; Staples</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/fruits-and-veg.jpg" class="img-responsive catcheck" alt="Fruits and Vegetables" link="http://m.grocermax.com/#/category/2678">
		<span class="c-font-bold item-name">Fruits &amp; Vegetables</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/beverage.png" class="img-responsive catcheck" alt="Beverages" link="http://m.grocermax.com/#/category/2701">
		<span class="c-font-bold item-name">Beverages</span>
	</div>
	<div class="clearfix ptb"></div>
	<div class="col-xs-4">
		<img src="landing-page/images/dairy,-eggs-and-milks.png" class="img-responsive catcheck" alt="Dairy, Bakery and Eggs" link="http://m.grocermax.com/#/category/2717">
		<span class="c-font-bold item-name">Dairy, Bakery &amp; Eggs</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/branded-food.png" class="img-responsive catcheck" alt="Branded Food" link="http://m.grocermax.com/#/category/2728"></a>
		<span class="c-font-bold item-name">Branded Food</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/family-care.png" class="img-responsive catcheck" alt="Family Care" link="http://m.grocermax.com/#/category/2779">
		<span class="c-font-bold item-name">Family Care</span>
	</div>
	<div class="clearfix ptb"></div>
	<div class="col-xs-4">
		<img src="landing-page/images/home-care.png" class="img-responsive catcheck" alt="Home Care and Utilities" link="http://m.grocermax.com/#/category/2804">
		<span class="c-font-bold item-name">Home Care &amp; Utilities</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/non-veg.png" class="img-responsive catcheck" alt="Non-veg" link="http://m.grocermax.com/#/category/2839">
		<span class="c-font-bold item-name">Non Veg</span>
	</div>
	<div class="col-xs-4">
		<img src="landing-page/images/frozen.png" class="img-responsive catcheck" alt="Frozen" link="http://m.grocermax.com/#/category/2846">
		<span class="c-font-bold item-name">Frozen</span>
	</div>
</section>

<section class="row c-reset bg-footer pb-30">
	<h2 class="d-app pl-15 mt-0">Download our App</h2>
	<div class="col-xs-6">
		<a href="https://play.google.com/store/apps/details?id=com.rgretail.grocermax&hl=en"><img src="landing-page/images/playstore.png" class="img-responsive wide-80"></a>
	</div>
	<div class="col-xs-6">
		<a href="https://itunes.apple.com/in/app/grocermax.com-online-grocery/id1049822835?mt=8"><img src="landing-page/images/ios-store.png" class="img-responsive wide-80" ></a>
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6">
		<h2 class="d-app">Grocermax</h2>
		<a  href="http://m.grocermax.com/#/page/about">About Us</a><br>
		<a  href="http://blog.grocermax.com/">Blog</a><br>
		<a  href="http://m.grocermax.com/#/page/term">Terms and Conditions</a><br>
	</div>
	<div class="col-xs-6 ">
			<h2 class="d-app">Help</h2>
			<a href="http://m.grocermax.com/#/page/faq">FAQs</a><br>
			<label>Contact Us</label><br>
			<a href="mailto:hello@grocermax.com" style="color: #333">hello@grocermax.com</a><br>
			<tel>8010 500 700</tel>
			<address>465, Ground Floor
			Udyog Vihar, Phase-V
			Gurgaon-122015</address>
	</div>
	<div class="clearfix"></div>
	<h2 class="d-app pl-15 mt-0">Get Social With Us</h2>
	<div class="col-xs-12 social-connect pb-8">
		<a href="javascript:void(0);"><img src="landing-page/images/gplus.png" ></a>
		<a href="https://www.facebook.com/grocermax" style="display: inline-block;"><img src="landing-page/images/facebook.png" title="Facebook"></a>
		

	</div>
</section>



	<script type="text/javascript" src='landing-page/js/jquery-2.0.2.js'></script> 
</body>
<script type="text/javascript">
var open= false;
function toggle()
{
	var mdiv = document.getElementById('left-menu');
	if(open)
	{
		mdiv.style.display = 'none';
		open=false;
	}
	else
	{
		mdiv.style.display = 'block';
		open=true;
	}
}

function emailValidateAndSend()
{
	var x = document.getElementById("enteremailplaceholder").value;
	var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
    	var msg = document.getElementById("validationMsg");
    	msg.style.color = '#ff1616';
        msg.innerText="Please enter the correct email.";
        document.getElementById("respnews").style.display = 'none';
        msg.style.display = 'block';
        return false;
    }
    else
    	submitEmail();
}

document.getElementById("enteremailplaceholder").addEventListener("keypress", function(e)
	{
		if(e.keyCode == 13)
		{
		emailValidateAndSend();
		}
		
	});
function search()
{
	a=document.getElementById("topsearch").value;
	if(a != '')
	try{     
        logintgtmse = "keyword="+ a;
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', 
            eventAction: 'Search', eventLabel: logintgtmse}
        );console.log("Search"); console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
	window.location.href="http://m.grocermax.com/#/product?keyword="+encodeURI(a)
}
document.getElementById("topsearch").addEventListener("keypress", function(e)
	{
		if(e.keyCode == 13)
		{
			search();
			
		}
		
	});

document.getElementById("searchicon").addEventListener("click", function(e)
	{
		search();
		
	});
$(document).ready(function(){
   $("#land1").click(function(){
   	try{     
   		var altst = $(this).attr('alt'); 
        logntgtmsea = "Name="+ altst;
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', eventAction: 'Banner', eventLabel: logntgtmsea}
        );console.log(altst); console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
   window.location.href="http://m.grocermax.com/#/specialdeal?sku=1";
   	});

   $(".land2").click(function(){
   	try{     
   		var altst = $(this).attr('alt'); 
        lrntgtmsea = "Name="+ altst;
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', eventAction: 'Banner', eventLabel: lrntgtmsea}
        );console.log(altst); console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
     window.location.href="http://m.grocermax.com/#/specialdeal?sku=2";
   	});

   $(".land3").click(function(){
   	try{     
   		var altst = $(this).attr('alt'); 
        lrntgtmsea = "Name="+ altst;
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', eventAction: 'Banner', eventLabel: lrntgtmsea}
        );console.log(altst); console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
     window.location.href="http://m.grocermax.com/#/product/2689";
   	});

   $(".catcheck").click(function(){
   	try{     
   		var alasst = $(this).attr('alt'); 
   		var lnks = $(this).attr('link'); 
        lrntgtmseasa = "CategoryName="+ alasst;
        console.log(lrntgtmseasa);
        console.log(lnks);
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', eventAction: 'Category', eventLabel: lrntgtmseasa}
        );console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
     window.location.href=lnks;
   	});


});

function submitEmail()
{
	var landingEmail = document.getElementById("enteremailplaceholder").value;
	try{     
        logaintgtmse = "Email="+ landingEmail;
        dataLayer.push('send', { hitType: 'event',  eventCategory: 'Landing Page Click', eventAction: 'Email', eventLabel: logaintgtmse}
        );console.log("Email"); console.log(dataLayer);
    }catch(err){console.log("Error in GTM fire.");}	
    
		$.ajax({
	    	type: 'POST',
	    	url: 'https://grocermax.com/api/registermail',
	    	data: JSON.stringify ({email: landingEmail}),
	    	success: function(data) {
	    		if(data.flag == 1){
	    			var hidenews = document.getElementById("newslater");
	    			hidenews.style.display = 'none';
	    			var showrespnews = document.getElementById("respnews");
	    			showrespnews.style.display = 'block';
	    			showrespnews.style.fontSize = '20px';
	    			showrespnews.innerText = data.Result;
	    		}
	    			else{
	    				var showrespnews = document.getElementById("respnews");
	    				showrespnews.style.display = 'block';
	    				showrespnews.style.fontSize = '12px';
	    				showrespnews.innerText = data.Result;
	    				document.getElementById("validationMsg").style.display = 'none';
	    			}
	    	}
		});

}
</script>
</html>