<section>
	<div class="row margin0 pad-ltr16" style="font-family: roboto;">
		<div class="addbox"
			data-ng-repeat="address in addressList" 
			data-ng-show="address.isDisplay"
			>
			<ul class="addresslist">
				<li>
					<span>{{address.firstname}} {{address.lastname}}</span>
					<span>{{address.street}}</span><br>
					<span>{{address.city}} - {{address.postcode}}</span>
					<a href="javascript:void(0);" 
						data-ng-show="!(address.is_default_billing || address.is_default_shipping)"
						data-ng-click="deleteAddress(address)"
						style="float:right; ">Delete Address</a>
				</li>
			
			</ul>
			<ul class="emailtxt">
				<li data-ng-click="editAddress(address.customer_address_id)">
					<span>Edit address</span>
					<img src="images/app_bar_icons/p-right-icon.png" alt="" 
						class=" float-rt">
				</li>				
			</ul>			
		</div>
	</div>
	<div class="row margin0 btn-bottom" style="position: relative;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" 
			data-ng-click="navigateTo('user/addaddress')">
			<button type="button" class="reg-bot-btn bot-foot">Create Address</button>
		</div>
	</div>
</section>