<div ng-controller="productController">
    <header data-ng-include="'templates/header.html'" class="top-head"></header>
    <div class="row margin0 pad-lt16 pad-rt16 margin-top10 margin-0-m"
        data-ng-show="!cartDetails.items.length && isCartLoaded">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 dot-border"
            style="padding: 20px; margin-top: 80px; text-align:center; ">
            Your cart is empty. <a href="/#">Continue Shopping</a>
        </div>
    </div>
	
	<div class="row margin0 bill-buster" 
        data-ng-show="cartDetails.Bill_buster"
        data-ng-class="{'bill-bust-mrg' : cartDetails.shipping_address.shipping_amount > 0}">
        <div class="col-sm-12 col-xs-12">
			{{cartDetails.Bill_buster}} 
		</div>
	</div>
	
    <div class="row margin0 cart-margin" style="margin-top: 0;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box margin-bot15"
            data-ng-show="cartDetails.items.length"
            data-ng-hide="hideCartItem(product)"
            data-ng-class="{'promotion_level': product.promotion_level}"
            data-ng-repeat="product in cartDetails.items">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 list-img-box">
                <img src="{{replaceImageUrl(product.product_thumbnail)}}" 
                        alt="" class="img-responsive card-img-center">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pad-r10">
                <ul class="list-unstyled plisting" style="margin: 0;padding-bottom: 0;">
                    <li class="prod-list-h">{{product.p_brand}}
						<span class="delete-icon" data-ng-show="product.price > 0 || (product.webqty <= 0)"
                            data-ng-click="removeCartItem(product)"
							data-ng-class="{'UpdateCart': product.price > 0}"></span>
                    </li>
                    <li class="cat-list-name text-ellipsis"
                        data-ng-click="routerChange('product/details', product.product_id)"
                        style="cursor:pointer; " 
                        title="{{product.name}}">{{product.p_name}}</li>
                    <li class="prod-list-qnty">{{product.p_pack}}&nbsp; |&nbsp;<span class="product-qnty">
                            ₹ {{toFixedDecimal(product.price)}}</span> 
                        <span class="prod-new-price">
                            | &nbsp;<label style="text-decoration: line-through;">₹ {{toFixedDecimal(product.mrp)}}</label></span></li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cat-list-box pad-r10">
				<div class="price-strip" data-ng-hide="(product.price <= 0)"><span>₹ {{toFixedDecimal(product.qty * product.price)}}</span></div>
                <ul class="list-unstyled cat-list" 
                    data-ng-show="(product.price > 0) && (product.webqty > 0)">
                    <li class=""  style="width: 32px;float: left;"                         
                        data-ng-click="decreaseCartProductQuantity(product, 'product_id')">
						<!--<img src="images/app_bar_icons/minus-img.png" class="img-responsive">-->
						<!--<span class="cat-minus-img"></span>	-->
						<img src="images/minu.png" class="img-responsive">
					</li>
                    <li class="cat-input-box">
                        <input type="text" placeholder="1" class="cat-input-text"
                            value="{{product.qty}}" readonly>
                    </li>
                    <li class="" style="width: 32px;float: right;"  
                        data-ng-click="increaseCartProductQuantity(product, 'product_id')">
						<!--<img src="images/app_bar_icons/plus-img.png" class="img-responsive">-->
						<!--<span class="cat-plus-img"></span>-->
						<img src="images/plus.png" class="img-responsive">
					
					</li>
                </ul>
                <ul class="list-unstyled cat-list disable"
                    data-ng-show="product.price <= 0">
                    <li class="cat-minus">
						<!--<img src="images/app_bar_icons/minus-img.png" class="img-responsive">-->
						<span class="cat-minus-img"></span>
					</li>
                    <li class="cat-input-box">
                        <input type="text" placeholder="1" 
                            class="cat-input-text" readonly
                            value="{{product.qty}}" >
                    </li>
                    <li class="cat-plus">
						<!--<img src="images/app_bar_icons/plus-img.png" class="img-responsive">-->
						<span class="cat-plus-img"></span>
					</li>
                </ul>
                <label data-ng-show="(product.price > 0) && (product.webqty > 0)" class="saving-strip">SAVING <span style="font-size:12px;">₹ {{toFixedDecimal((product.mrp - product.price) * product.qty)}}</span></label>

                <label data-ng-show="(product.price <= 0)" style="font-size: 12px;background-color:#ffe400;color: #df4a32;padding: 3px 10px 3px 10px;border-radius: 20px;margin: 10px 0 0 0px;font-weight: bold;font-family: robotobold;"><span>Free Item</span></label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                <h1 class="ribbon" data-ng-show="product.promotion_level && !(product.qty > product.webqty)">
					<img src="images/bell.png">
                    <span class="ribbon-content">{{product.promotion_level}}</span>
                </h1>
            </div>
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 low-stock" data-ng-show="(product.product_id == MaxAvailQtyPid) && (MaxAvailQty > product.webqty)">
                ONLY {{product.webqty}} QTY IN STOCK.
            </div>-->

        </div>
    </div>
	<div class="row coupon-cart">
		<div class="col-sm-12 col-xs-12 " data-ng-click="navigateToCoupon()"  data-ng-show="!isCouponCodeApplied">
			<img src="images/coupon.png">
			<span>Apply Coupon</span>
			<img src="images/icon-coupon.png" style="">
		</div>
		<div class="col-sm-12 col-xs-12" data-ng-click="navigateToCoupon()"  data-ng-show="isCouponCodeApplied">
			<img src="images/coupon.png">
			<span>Coupon Applied - {{couponCode}}</span>
			<span>Change</span>
		</div>
	</div>
	
	<div class="col-sm-12 col-xs-12 saving-cart">
		<div>Your Savings: <span class="float-rt">₹{{toFixedDecimal(youSaved + couponValue)}}</span></div>
	</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 bot-foot btn-copun"
        data-ng-show="!isCartUpdated">
		<div style="width:68%;float: left;font-family: robotomedium;color: #fff;padding: 5px 0px 5px 20px;">
			<p style="margin:0;">Items: {{cartItemCount}}</p>
			<p style="margin:0;">Total: ₹{{toFixedDecimal(cartDetails.grand_total)}}</p>
		</div>
        <button type="button" class="reg-bot-btn"
            data-ng-click="checkout('checkout')">PROCEED
			<img src="images/proceedicon.png" style="width: 8px;margin: -3px 0 0 5px;"></button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0"
        data-ng-show="isCartUpdated"
        style="margin-top:100px;">
        <button type="button" class="reg-bot-btn bot-foot update-btn"            
            data-ng-click="checkout('update')">UPDATE CART</button>        
    </div>    
    <div data-ng-show="displayLoader" class="black_shade">
		<img src="images/ajax-loader.gif" />
	</div> 
	
	<!--Modal Popup-->
	<div id="ouofStockPopup" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" data-ng-show="isCartUpdatedPopup">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-bod">
					<div class="row margin0">
						<div class="col-md-12 col-sm-12 col-xs-12 padd0" style="background: #fff;">
							<h1 style="font-size: 15px;font-weight: 600;font-family: roboto;margin: 0;padding: 10px 15px 10px 15px;;background: #fff;">Please remove items to proceed.</h1>
							<ol class="list-group" style="box-shadow: none;padding: 0 15px 0 30px;background: #f4f4f4;    margin: 0;">
								<li style="border-bottom: solid 1px #cdcdcd;padding: 15px 0 20px 0;" data-ng-repeat="product in cartDetails.items" data-ng-show="(product.product_id == MaxAvailQtyPid) && (MaxAvailQty > product.webqty)">
									<p style="margin: 0 0 5px 0;">{{product.p_brand}} {{product.p_name}} {{product.p_pack}}</p>
									<p style="margin: 0;" data-ng-hide="(product.product_id == MaxAvailQtyPid) && (MaxAvailQty > product.webqty)">
										<span style="color: #ee2d09;" data-ng-show="(product.webqty <= 0)">Sold Out</span>
										<span data-ng-click="removeCartItem(product)" class="removeBtn" data-ng-class="{ removeBtnName:hideCartItem(product)}">{{hideCartItem(product) ? 'Removed' : 'Remove'}}</span>
									</p>
									<p data-ng-show="(product.product_id == MaxAvailQtyPid) && (MaxAvailQty > product.webqty && product.webqty != 0)"style="display: inline-block;margin: 0;font-size: 12px;font-weight: 600;"> <span style="color: darkblue;margin-top: 2%;"> AVAILABLE QTY. {{product.webqty}} </span> 
										<ul class="list-unstyled cat-list" style="width:72px;" data-ng-hide="product.webqty == 0">
						                    <li class="cat-input-box">
						                        <input type="text" placeholder="1" class="cat-input-text"
						                            value="{{product.qty}}" readonly style="background: transparent;">
						                    </li>
						                    <li class=""  style="width: 32px;float: left;"                         
						                        data-ng-click="decreaseCartProductQuantity(product, 'product_id')">
												<img src="images/minu.png" class="img-responsive">
											</li>
						                </ul>

									</p>
								</li>
							</ol>
							<button type="button" class="update-pop-btn update-btn"            
							data-ng-click="checkout('update')">UPDATE</button> 							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--Modal Popup-->
	<div id="couponCodeListPopup" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" data-ng-show="couponModalShow">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-bod">
					<div class="row margin0">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coupon-head">
							<span class="back-icon" data-ng-click="navigateToCoupon()"></span>
							<span>Coupons</span>
						</div>
					</div>
					<div class="row margin0" style="margin-top: 52px;">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coupon-bar" data-ng-show="isCouponCodeApplied">
							Applied Coupon - {{couponCode}}
						</div>
					</div>
					<div class="row margin0 coupon-bar1">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-show="isCouponCodeApplied">
							{{couponCode}}
							<button type="button" class="remove-btn" data-ng-click="removeCouponCode(couponCode)">REMOVE</button>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-show="!isCouponCodeApplied">
							<input type="text" placeholder="Enter code here" class="coupon-input" data-ng-model="couponCode"
								value="{{couponCode}}">
							<button type="button" class="aplly-btn" data-ng-click="applyCouponCode(couponCode)">APPLY</button>
							<div  data-ng-class="{showCouponError: $index == couponLi}" class="hideCouponError"
									style="color:#FF0000; text-align:center;  float: left; width: 100%;">{{couponMessage}}</div>
						</div>
						<div>OR</div>
					</div>
					<div class="row margin0 coupon-bar2">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
							<ul class="list-unstyled margin0" style="width:100%;">
								<li ng-repeat="list in couponlistofcode">
									<button type="button" class="coupon-btn" data-ng-click="applyCouponCode(list.coupon_code, $index)" ><span>{{list.coupon_code}} -</span> APPLY</button>
									<p>{{list.name}}</p>
									<p data-ng-show="list.description" data-ng-click="couponDescripTogle = !couponDescripTogle"> View T&C 
										<img src="images/copun-arrow.png">
									</p>
									<p data-ng-show="couponDescripTogle">{{list.description}} </p>
									<div data-ng-class="{showCouponError: $index == couponLi}" class="hideCouponError" 
									style="color:#FF0000; text-align:center;  float: left; width: 100%;">{{couponMessage}}</div>	
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>