<div ng-controller="categoryController">
	<header data-ng-include="'templates/header.html'" class="header-fix-top cat-border"></header>
	<article class="margin-bot15">
		<section class="cat-img-mrg">
			<div class="row margin0 pad16 pad-bot0"
				data-ng-show="category.is_active == '1' && subCategoryList.length" 
				data-ng-repeat="category in subCategoryList | filter:searchText">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
					<div class="pad4 img-box cat-box">
						<img src="{{categoryImageUrl}}{{category.category_id}}.png" 
							title="{{category.name}}" class="img-responsive"
							data-ng-click="handleOfferCategoryClick(category)">
						<div class="subc-h1"
							data-ng-show="!category.children.length">
							No more category available
						</div>						
					</div>
				</div>
				<div class="row"
					data-ng-show="category.children.length && moreCategoryIndex == category.category_id">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-b-15">
						<a href="javascript:void(0)"
							data-ng-click="routerChange('product', subCategory.category_id)"
							data-ng-repeat="subCategory in category.children">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 subcat-btn">
								<button type="button" class="subc-btn text-ellipsis">{{subCategory.name}}</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</article>	
</div>
