<div ng-controller="categoryController">
	<header data-ng-include="'templates/header.html'" class="header-fix-top"></header>
	<article class="margin-bot15">
		<section class="cat-img-mrg">
			<div class="row margin0 pad16 pad-bot0"
				data-ng-show="category.is_active && subCategoryList.length" 
				data-ng-repeat="category in subCategoryList | filter:searchText">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
					<div class="pad4 img-box cat-box">
						<img src="images/silder-img1.png" 
							title="{{category.name}}" class="img-responsive"
							data-ng-click="routerChange('product', category.category_id)">
							<!--shutterstock{{$index > 5 ? 6 : $index+1}}.png-->
						<!--mustakeem<div class="img-text-box" 
							data-ng-click="routerChange('product', category.category_id)"
							style="line-height:15px; bottom: 90px;">
							<span class="img-text-h" style="font-size:24px; ">
								{{category.name}}</span>
							<!-- <span class="img-text" data-ng-show="category.children.length">
								{{renderChildrenCategory(category.children)}}
							</span> 
						</div>-->
						<div class="subc-h1"
							data-ng-show="category.children.length"
							data-ng-click="showMoreCategory(category)"
							style="cursor:pointer; ">
							Select category to view products
						</div>	
						<div class="subc-h1"
							data-ng-show="!category.children.length">
							No more category available
						</div>					
						<div class="align-center subc-h2"
							data-ng-click="routerChange('product', category.category_id)">{{category.name}}</div>
					</div>
					<!--<div class="pad4 margin-lt15 imgbox-rt-margin"
						data-ng-show="category.children.length && moreCategoryIndex == category.category_id">
						<a href="javascript:void(0)" role="button" class="btn btn-default" 
							data-ng-click="routerChange('product', subCategory.category_id)"
							data-ng-repeat="subCategory in category.children">{{subCategory.name}}</a>
					</div>-->
					<!--<div class="margin-top15"></div>		-->
				</div>
				<div class="row"
					data-ng-show="category.children.length && moreCategoryIndex == category.category_id">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white pad-b-15">
						<a href="javascript:void(0)"
							data-ng-click="routerChange('product', subCategory.category_id)"
							data-ng-repeat="subCategory in category.children">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 subcat-btn">
								<button type="button" class="subc-btn">{{subCategory.name}}</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</article>	
</div>