<section>
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 3.5vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			CHANGE PASSWORD
		</div>
	</div>
	
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			<ul class="list-unstyled pad-lt32 margin0 pad-rt32 pad-lt-rt16-m" style="margin-top: 4px;">
				<li class="reg-list">
					<span class="reg-list-text">Old Password</span><br>
					<input type="text" name="oldPassword" placeholder="required"
						data-ng-model="password.old"
						data-ng-change="changePassword('old', password.old)"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">New Password</span><br>
					<input type="password" name="newPassword" placeholder="required" 
						data-ng-model="password.new"
						data-ng-change="changePassword('new', password.new)"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Confirm Password</span><br>
					<input type="password" name="confirmPassword" placeholder="required" 
						data-ng-model="password.confirm"
						data-ng-change="changePassword('confirm', password.confirm)"
						class="place-color reg-list-input">
				</li>				
			</ul>
		</div>
	</div>
	<div class="alert" role="alert"
		data-ng-class="{'alert-success': className.success, 'alert-danger': className.danger}"
		data-ng-show="showUserResponse">{{userResponseMessage}}
	</div>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			<button type="button" class="reg-bot-btn"
				data-ng-click="changePassword()">SUBMIT</button>
		</div>
	</div>
	<!-- <div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		data-ng-show="registrationStep == 2"
		style="margin-top: 10%;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text">
			<span>Change Password</span>
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 ">
			<span class="reg-list-text">Old Password</span><br>
			<input type="text" name="oldPassword" placeholder="required"
				data-ng-model="password.old"
				data-ng-change="changePassword('old', password.old)"
				value=""
				class="place-color reg-list-input">				
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass">
			<span class="reg-list-text">New Password</span><br>
			<input type="text" name="newPassword" placeholder="required"
				data-ng-model="password.new"
				data-ng-change="changePassword('new', password.new)"
				value=""
				class="place-color reg-list-input">				
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass">
			<span class="reg-list-text">Confirm Password</span><br>
			<input type="text" name="confirmPassword" placeholder="required"
				data-ng-model="password.confirm"
				data-ng-change="changePassword('confirm', password.confirm)"
				value=""
				class="place-color reg-list-input">				
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15">
			<div class="alert" role="alert"
				data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
				data-ng-show="showUserResponse">{{userResponseMessage}}</div>
			<button type="button" class="pad16 otp-btn"
				data-ng-click="changePassword()">SUBMIT</button>
		</div>
	</div> -->
</section>