<div ng-controller="checkoutController">
	<header data-ng-include="'templates/header.html'" class="top-head"></header>

	<article data-ng-include="'templates/shipping-address.html'"
		data-ng-if="section.shipping" class="wrapper"></article>

	<article data-ng-include="'templates/billing-address.html'"
		data-ng-if="section.billing" class="wrapper"></article>

	<article data-ng-include="'templates/delivery-details.html'"
		data-ng-if="section.delivery" class="wrapper"></article>

	<article data-ng-include="'templates/payment-methods.html'"
		data-ng-if="section.payment" class="wrapper"></article>

	<!-- Modal -->
	<div class="modal fade" id="paymentFailed" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="payment-modal">
	                <div class="row margin0">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
							<img class="img-responsive" alt="" src="images/order-fail.png">					
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 padd0 margin-tp22" style="text-align: center;">
							<span class="ord-fail-text">Payment Failed :(</span>
						</div>
						<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 float-rt">
							<div class="margin-top10 ord-text">Your payment was processed unsuccessfully,</div>
							<div class="margin-top10 ord-text">Please try one of the following options.</div>
						</div>
						<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top32">
							<button type="button" class="ord-btn btn-retry" data-ng-click="retryPayment()">RETRY PAYMENT</button>
						</div>-->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-align margin-tp20">
							<button type="button" class="ord-btn btn-cash"
								data-ng-click="navigateToOrder('user/orderhistory')">ORDER HISTORY</button>
								&nbsp;
							<a href="/#/">
								<img src="images/continue-shopping.png" alt="" 
									style="width: 80%;" class="margin-tp20"></a>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="paymentSuccess" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-body">
	                <section class="succes-back">
						<div class="row margin0">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 padd0">
								<img src="images/logo-order.png" alt="" class="img-responsive" style="margin-top: 28.6%;">
							</div>
						</div>		
						<div class="row margin0">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 os-box1">
								<div class="os-box1-h1">Success!</div>
								<div class="os-box1-h2">YOUR ORDER HAS BEEN PLACED</div>
								<div class="os-box1-h3">Order ID is <span style="font-weight: 400;">{{orderId}}</span></div>
								<div class="os-box1-h4">Please check your mail for details</div>
							</div>
						</div>
						<div class="row margin0">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 padd-t50 padd-t25-m">
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 padd0" 
									data-ng-click="navigateTo('/')"
									style="padding-right: 8px;">
									<button type="button" class="os-btn">Continue Shoping</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padd0" 
									data-ng-click="navigateTo('user/orderhistory')"
									style="padding-left: 8px;">
									<button type="button" class="os-btn">Order History</button>
								</div>
							</div>
						</div>
						<div class="row margin0">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 os-box2">
								<div class="os-box2-h1">"Tell your friends! they BUY, you EARN - Simple!"</div>
							</div>
						</div>
						<div class="row margin0">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 margin-top32 margin-top16-m">
								<div class="os-social-icon">
									<img src="images/header-icon/fb-icon.png" alt="" class="img-responsive">
								</div>
								<div class="os-social-icon">
									<img src="images/header-icon/gmail-icon.png" alt="" class="img-responsive">
								</div>
								<div class="os-social-icon">
									<img src="images/header-icon/whatsapp-ico.png" alt="" class="img-responsive">
								</div>
								<div class="os-social-icon">
									<img src="images/header-icon/msg-evelop-ico.png" alt="" class="img-responsive">
								</div>
							</div>
						</div>
					</section>
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="cartOutOfStockItem" tabindex="-1" role="dialog" 
		aria-labelledby="myModalLabel" data-ng-hide="hideoutofStockModal">
	    <div class="modal-dialog" role="document" style="position: relative;">
	        <div class="modal-content">
	            <div class="cartoutofstock">
	                <div class="row margin0">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-align">
							<p>{{resultOss}}</p>
							<button data-ng-click="navigateToCart()" data-ng-show="!duplicateorderbtn">{{buttonOss}}</button>
							<button data-ng-click="navigateTo('user/orderhistory')" data-ng-show="duplicateorderbtn">{{buttonDuplicate}}</button>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>

	<div data-ng-show="displayLoader" class="black_shade">
		<img src="images/ajax-loader.gif" />
	</div> 

</div>