<div class="row margin0 back-white" style="margin-top:50px;">
    <h3 class="subheading">Contact Us</h3>
	<div class="row margin0">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<ul class="list-unstyled">
				<li style="margin-bottom: 20px;"> 
					<img src="images/contact/pencil.png" class="pull-left" style="margin-right: 15px;width: 26px;">
					<div>
						<a href="mailto:hello@grocermax.com" style="color: #666;">hello@grocermax.com</a>
					</div>
				</li>
				<li style="margin-bottom: 20px;">
					<img src="images/contact/fon-icon.png" class="pull-left" style="margin-right: 15px;width:26px;">
					<div style="color: #666;">
						8010 500 700
					</div>
				</li>
				<li style="margin-bottom: 20px;">
					<img src="images/contact/home-icon.png" class="pull-left" style="margin-right: 15px;width: 26px;margin-top: 5px;margin-bottom: 25px;">
					<div style="margin-left: 30px; color:#666;">813, Ground Floor<br>Udyog Vihar, Phase-V<br>Gurgaon-122016</div>
				</li>
				
			</ul>
		</div>
	</div>
</div>