<div ng-controller="categoryController">    
    <header data-ng-include="'templates/header.html'" class="header-fix-top"></header>
    <article>
		<section>
			<div class="row margin0 nav-red top-subhead">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-lr6">
					<ul class="list-unstyled nav-list">
						<li class="nav-li"
							data-ng-class="{'nav-active': category.id == activeDealCategory}"
							data-ng-show="dealCategoryList.length" 
							data-ng-click="getDealCategoryItemList(category)"
							data-ng-repeat="category in dealCategoryList"
							style="cursor:pointer; ">{{category.label}}</li>
					</ul>
				</div>
			</div>
			<div class="row margin0 imgbox-margin deals-img">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0"
					data-ng-show="dealItems.length" 
					data-ng-repeat="item in dealItems">
					<div class="pad4 img-box imgbox-margin imgbox-margin-m"
						data-ng-click="navigateToProduct('product', item.promo_id)">
						<img src="{{item.deal_image}}" alt="" class="img-responsive">
						<div class="img-block">
							<span class="img-text-h">{{item.title}}</span>
							<!-- <br><span class="img-text">Cooking Oil & Ghee</span> -->
						</div>
					</div>					
				</div>				
			</div>						
		</section>
	</article>	
	<div class="popupcontainerloader" style="position:fixed;"
        data-ng-show="displayLoader">        
        <div style="text-align:center; width:100%; "><img src="images/ajax-loader.gif" /></div>
    </div>
    <div data-ng-show="displayLoader" class="black_shade"></div>	
</div>