<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 slider-text margin-tp22 margin-bt22 margin-lt15">Shop by Deals</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
    <ul class="list-unstyled slider-list">
        <li class="width-100">
            <img src="images/silder-img1.jpg" alt="" class="width-100">
            <div class="slide-text"><span>20 OFFERS</span></div>
        </li>
        <li class="margin-lt25 li-border"></li>
        <li class="width-100">
            <img src="images/slider-img2.jpg" alt="" class="width-100 margin-lt25">
            <div class="slide-text margin-lt25"><span>30 OFFERS</span></div>
        </li>
    </ul>
</div>