<section>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 back-white padtb16">
			<div class="bill-O-box">
				<div class="bill-O bill-O-active"></div>
					<div class="bill-bar"></div>
				<div class="bill-O bill-O-active"></div>
					<div class="bill-bar"></div>
				<div class="bill-O bill-O-active"></div>
					<div class="bill-bar"></div>
				<div class="bill-O"></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row margin0 pad-lt16 pad-rt16">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 del-day-box">
			<span>DELIVERY DATE</span>
			<span class="float-rt">{{renderDeliveryDate(selectedDeliveryDate)}}</span>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0"
			data-ng-show="deliverySlotIndex == $index"
			data-ng-repeat="delivery in deliverySlots">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 back-white">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd0">
					<button type="button" class="btn-del"
						data-ng-click="getPreviousDaySlot($index)">
						<span><img src="images/app_bar_icons/deliver-l.png" alt="" 
							class="img-responsive"></span>
					</button>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padd0 del-day-input">
					<span>{{renderDeliveryDate(delivery.date)}}</span><!--Today -->
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd0">
					<button type="button" class="float-rt btn-del-r"
						data-ng-click="getNextDaySlot($index)">
						<span><img src="images/app_bar_icons/deliver-r.png" alt="" 
							class="img-responsive"></span>
					</button>
				</div>
			</div>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 del-day-box">
				<span>DELIVERY TIME</span>
				<span class="float-rt">{{selectedDeliveryTime}}</span>
			</div>
			<div class="row margin0"
				style="font-family: roboto;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 del-card-box">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0 del-time-card"
						data-ng-class="{'del-card-active': parentIndex == $parent.$index && timeslot.timeSlot == selectedDeliveryTime}"
						data-ng-click="setDeliveryTime(timeslot, $parent.$index)"
						data-ng-repeat="timeslot in delivery.timeSlots">
						<span class="del-slot" 
							data-ng-show="timeslot.available == 0">{{timeslot.timeSlot}}</span>
						<span data-ng-show="timeslot.available == 1">{{timeslot.timeSlot}}</span>
						<div data-ng-show="timeslot.available == 0" 
							style="position:absolute; left:30%; top:60%; color:#ee2d09; ">SLOT FULL</div>
					</div>										
				</div>
			</div>					
		</div>
	</div>
	<div class="row margin0">
		<div style="text-align:center; padding:10px 0px;" class="error-message" 
			data-ng-show="!shouldProceed || !isDeliveryProceedEnabled()">
			Please select delivery details
		</div>
	</div>
	<div class="row margin0" style="margin-top:25%;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0  margin-top15" 
			data-ng-click="navigateToPayment()">
			<!-- data-ng-disabled="!isDeliveryProceedEnabled()" -->
			<button type="button" class="reg-bot-btn bot-foot">PROCEED</button>
		</div>
	</div>	
</section>