<section>
	<form name="frmRegistration" novalidate>
		<div class="row margin0 back-white" data-ng-show="editProfileStep == 1">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
				<ul class="list-unstyled pad-lt32 margin0 pad-rt32 pad-lt-rt16-m" style="margin-top: 4px;">
					<li class="reg-list">
						<span class="reg-list-text">First Name</span><br>
						<input type="text" name="fname" placeholder="required" 
							data-ng-model="user.fname"
							value="{{user.fname}}"
							required my-max-length="15" only-alphabets-with-space
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.fname.$error" 
                        	data-ng-show="frmRegistration.fname.$dirty || (errorRegistration && user.fname == null)">
                            <div ng-show="frmRegistration.fname.$error.required" 
                            	class="error-message">Please enter your first name</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Last Name</span><br>
						<input type="text" name="lname" placeholder="required" 
							data-ng-model="user.lname"
							value="{{user.lname}}"
							required my-max-length="15" only-alphabets-with-space
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.lname.$error" 
                        	data-ng-show="frmRegistration.lname.$dirty || (errorRegistration && user.lname == null)">
                            <div ng-show="frmRegistration.lname.$error.required" 
                            	class="error-message">Please enter your last name</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Mobile No.</span><br>
						<input type="text" name="mobile" placeholder="required"
							data-ng-model="user.number" 
							value="{{user.number}}"
							required my-max-length="10" only-digits
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.mobile.$error" 
                        	data-ng-show="frmRegistration.mobile.$dirty || (errorRegistration && user.number == null)">
                            <div ng-show="frmRegistration.mobile.$error.required" 
                            	class="error-message">Please enter your mobile number</div>
                        </div>
					</li>								
				</ul>
			</div>
		</div>	
		<div class="alert" role="alert"
			data-ng-class="{'alert-success': className.success, 'alert-danger': className.danger}"
			data-ng-show="showUserResponse">{{userResponseMessage}}</div>			
		<div class="row margin0 btn-bottom" data-ng-click="updateProfile(frmRegistration)"  data-ng-show="editProfileStep == 1">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
				<button type="button" class="reg-bot-btn bot-foot">UPDATE PROFILE</button>
			</div>
		</div>
	</form>
	
	<div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		data-ng-show="editProfileStep == 2"
		style="margin-top: 20%;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text" style="text-align: center;">
			<span>Enter your one time password (OTP)</span>
		</div>
		<div style="text-align: center;color: #404040;font-weight: bold;font-size: 14px;">{{user.number}}</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass" style="padding: 0;">
			<input type="text" name="otp" 
				data-ng-model="otp"
				data-ng-change="changeOTP(otp)"
				value=""
				maxlength="6" 
				class="place-color reg-list-input" style="width: auto;padding-left: 5px;">
				<button style="background-color: #0e69e5;border: none;color: #fff;height: 24px;font-size: 14px;font-weight: 100;float: right;" data-ng-click="updateProfile(frmRegistration)">Resend</button>
		</div>
		<div class="alert" role="alert"
			style="float: left;  width: 100%;  margin-top: 10px;"
			data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
			data-ng-show="showUserResponse">{{userResponseMessage}}</div>
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15"
			data-ng-click="verifyEditProfileOtp()">
			<button type="button" class="pad16 otp-btn">SUBMIT</button>
		</div>
	</div>
</section>