<div class="row margin0 back-white" style="margin-top:50px;">
	<h3 class="subheading">FAQ's</h3>
	<!--GENERAL-->
	<div class="row margin0" style="padding: 0 16px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">General</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaq1 = ! showFaq1">
			Why buy from GrocerMax ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaq1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaq1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaq1">
			<p style="color: #666;">We are a group of retailers with a cumulative experience of more than 150 years working hard to get you the best price-quality combination consistently for all your household needs. Our assortment covers more than 10,000 SKUs across various categories. We ensure you get the best for your family, without having to stand in long queues for hours. You get your entire grocery at your door step and thus actually get more time to do things you always wanted to do. We believe you deserve ‘more from life’.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaq2 = !showFaq2">
			 What products are available ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaq2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaq2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaq2">
			<p style="color: #666;">We offer everything that you would normally find at a hypermarket. We offer more than 10,000SKUs across Staples, Fruits & Vegetables, Dairy, Ice Creams, Meat, Personal Care, Homecare, General Merchandise etc. </p>
		</div>		
	</div>
	
	<!--REGISTRATION-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Registration</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqReg1 = ! showFaqReg1">
			 How do I register ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqReg1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqReg1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqReg1">
			<p style="color: #666;">We strive to make things simple for you and so is registration. You can register using your mail ID, mobile number. You can either register by clicking ‘sign in’ on top right of home page or at the time of checkout. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqReg2 = !showFaqReg2">
			  Are there any charges for registration ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqReg2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqReg2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqReg2">
			<p style="color: #666;">Registration is free of charge. </p>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqReg3 = !showFaqReg3">
			   Do I have to necessarily register to shop on GrocerMax ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqReg3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqReg3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqReg3">
			<p style="color: #666;">It is not compulsory to register to shop on GrocerMax. You can login and buy as a guest as well. But we strongly recommend you to register. This will enable us to design personalized offers which we feel will be of relevance and interest to you. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqReg4 = !showFaqReg4">
			    Can I have multiple registrations ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqReg4">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqReg4">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqReg4">
			<p style="color: #666;">Every unique mail ID entitles you to one registration. We encourage you to have one active registered account as it will keep all your past transactions, shopping lists, loyalty points in one place and easy to encash.  </p>
		</div>
	</div>
	
	<!--ORDER RELATED-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Order related</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqOR1 = ! showFaqOR1">
			  What if something I want is not available ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR1">
			<p style="color: #666;">We want to be one stop solution for all your grocery needs. You can write to us in case something you want is not available. We will do our best to arrange it for you.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR2 = !showFaqOR2">
			   What are delivery slots ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR2">
			<p style="color: #666;">We have 4 delivery slots spread during the day.</p>
			<table style="width: 182px; height: 86px; color: #666; margin-bottom: 10px;" border="1">				
				<tr>
					<td style="padding-left: 10px;">7 AM - 10 AM</td>
				</tr>
				<tr>
					<td style="padding-left: 10px;">10 AM - 1 PM</td>
				</tr>
				<tr>
					<td style="padding-left: 10px;">4:30 PM - 7:30 PM</td>
				</tr>
				<tr>
					<td style="padding-left: 10px;">7:30 PM - 10:30 PM</td>
				</tr>				
			</table>
			<p style="color: #666;">At the time of checkout, you will have to select one slot when you would want delivery to be done.</p>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR3 = !showFaqOR3">
			    Can I add/remove products to my order after checkout ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR3">
			<p style="color: #666;">You can call our call center at 8010 500 700 and add items to your order list. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR4 = !showFaqOR4">
			     What is a "happy slot"?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR4">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR4">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR4">
			<p style="color: #666;">We are an environment conscious company and would love to ensure our customers also join us in this cause. At the time of slot selection, there is a smiley marked against various slots. This means that door delivery vans are already visiting that locality in that particular slot. If you pick that slot, you help us contribute to environment.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR5 = !showFaqOR5">
			      Can I change my order delivery slot after placing the order ?  
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR5">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR5">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR5">
			<p style="color: #666;">Yes, you can change the delivery slot after placing the order by calling our call center number subject to revised slot being available. This can be done prior to the slot cut off, which are as follows –</p>
			<table style="width: 326px; color: #666; margin-top: 20px; margin-bottom:20px;" border="1"><colgroup><col> <col> </colgroup>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7 AM - 10 AM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">10 AM - 1 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">4:30 PM - 7:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7:30 PM - 10:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR6 = !showFaqOR6">
			       How do I check which items were not available from my order ? Will someone inform me about the items unavailable in my order before delivery ? 
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR6">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR6">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR6">
			<p style="color: #666;">In case an item is not available from your order list, our delivery team will carry an appropriate alternate for you (different pack size, comparable product from another brand) to make it convenient for you. We will be happy if you accept the same. In case you don’t like it, we will take it back with no questions asked.</p>	
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR7 = !showFaqOR7">
			        When and how can I cancel an order ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR7">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR7">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR7">
			<p style="color: #666;">You can cancel the order anytime before the cut off time for the delivery slot by calling our call centre. The cut off times for respective slots are as follows -</p>
			<table border="1" style=" margin-top: 20px; margin-bottom:20px;" width="300">
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">Delivery Slot</td>
					<td style="padding-left:10px;padding-top: 2px;">Cut off time</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">7 AM - 10 AM</td>
					<td style="padding-left:10px;padding-top: 2px;">Previous day 6 PM</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">10 AM - 1 PM</td>
					<td style="padding-left:10px;padding-top: 2px;">Previous day 6 PM</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">4:30 PM - 7:30 PM</td>
					<td style="padding-left:10px;padding-top: 2px;">Same day 10 AM</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">7:30 PM - 10:30 PM</td>
					<td style="padding-left:10px;padding-top: 2px;">Same day 10 AM</td>
				</tr>
			</table>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOR8 = !showFaqOR8">
			        Is there any guarantee on GOWYS "Get Only What You See" ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOR8">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOR8">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOR8">
			<p style="color: #666;">We care for you and your family and make every effort to ensure you get what you liked and selected.  </p>	
		</div>
	</div>
	
	<!--CUSTOMER RELATED-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Customer related</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqCR1 = ! showFaqCR1">
			  How do I contact customer service ? 
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCR1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCR1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCR1">
			<p style="color: #666;">You can call our call center at 8010 500 700. Alternatively you can give a missed call or drop us a message. We will call you back ASAP. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqCR2 = !showFaqCR2">
			   What are your timings to contact customer service ? 
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCR2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCR2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCR2">
			<p style="color: #666;">Our call center is available to answer all your queries Monday-Saturday 10AM-6PM. Call us at 8010 500 700. Alternatively, you can drop us an email at hello@grocermax.com </p>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqCR3 = !showFaqCR3">
			    How can I give feedback on the quality of customer service ? 
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCR3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCR3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCR3">
			<p style="color: #666;">We would love to hear your feedback on our services, product range, quality, range and more. You can give your feedback via our call center or drop an email at hello@grocermax.com. In case you don’t hear back in 24 hours, please let our head of marketing know at surbhi.sehgal@grocermax.com. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqCR4 = !showFaqCR4">
			     How do I raise a claim with customer service for any of the Guarantees – Delivery & Quality ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCR4">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCR4">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCR4">
			<p style="color: #666;">We value your feedback because that will help us do better. We would love to hear from you. Please drop a mail at hello@grocermax.com or call us at 8010 500 700. </p>
		</div>
	</div>
	
	<!--MY ACCOUNT-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">My account</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqMA1 = ! showFaqMA1">
			   What is My Account ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqMA1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqMA1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqMA1">
			<p style="color: #666;">My Account is a ready reckoner of your activity with GrocerMax and includes the following – pending orders, past orders, shopping lists, payment options etc. We encourage you to update the section to enable us get the most seamless and exciting grocery shopping experience for you.  </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqMA2 = !showFaqMA2">
			    How do I reset my password if I forget it ? 
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqMA2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqMA2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqMA2">
			<p style="color: #666;">It's simple. Select the forgot password link and we will send you a revised password on your registered email id and phone number.  </p>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqMA3 = !showFaqMA3">
			    What is My Shopping List ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqMA3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqMA3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqMA3">
			<p style="color: #666;">You can keep on creating and updating your shopping list on a regular basis and save it. Just press ‘Buy’ when you feel you are ready. </p>
		</div>
	</div>
	
	<!--DELIVERY-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Delivery</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqDLV1 = ! showFaqDLV1">
			 How does my order get packed ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV1">
			<p style="color: #666;">Your order at GrocerMax gets compiled and packed in our state of the art fulfillment center and is dispatched in sealed and barcoded crates to ensure there are no mistakes and you get what you ordered.</p>
		</div>	

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV2 = ! showFaqDLV2">
			 How will the delivery be done ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV2">
			<p style="color: #666;">Delivery will be done through our own branded vans. </p>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV3 = ! showFaqDLV3">
			  Is your delivery team verified by police ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV3">
			<p style="color: #666;">Absolutely, Your safety is most important and our Customer fulfillment team is verified by the police.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV4 = ! showFaqDLV4">
			   How do I track my delivery ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV4">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV4">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV4">
			<p style="color: #666;">You can track your order anytime by calling us up  at 8010 500 700. We will also send you a message on your registered number at major order milestones like on Order confirmation and  when the order ready for dispatch. We will give you the Fulfillment Executive’s number in case you wish to track the exact location of your order. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV5 = ! showFaqDLV5">
			  Can delivery date and slot be changed ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV5">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV5">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV5">
			<p style="color: #666;">You can call us up at 8010 500 700 and place request for change in delivery slot. Please do so before the cut off time for the delivery slot. We will accommodate the same subject to availability</p>
			<table style="width: 326px; color:#666; margin-top: 20px; margin-bottom:20px;" border="1"><colgroup><col> <col> </colgroup>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Delivery Slot</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Cut off time</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7 AM - 10 AM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">10 AM - 1 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">4:30 PM - 7:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7:30 PM - 10:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV6 = ! showFaqDLV6">
			  When will I receive my order ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV6">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV6">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV6">
			<p style="color: #666;">You will receive your order in the slot selected at the time of placing order.  </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV7 = ! showFaqDLV7">
			 How are the fruits and vegetables weighed ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV7">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV7">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV7">
			<p style="color: #666;">All fruits and vegetables ordered come packed and will be delivered in weights as close to the weight selected online or in the exact number of pieces as prescribed online. You will be charged for the actual weight delivered. There may be a permissible 2% moisture loss of produce post weighing at our warehouse. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV8 = ! showFaqDLV8">
			 How do I change the delivery info (address to which I want products delivered) ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -25px;margin-bottom: -4px;" ng-hide="showFaqDLV8">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -36px;margin-bottom: -14px;"ng-show="showFaqDLV8">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV8">
			<p style="color: #666;">You can call us at 8010 500 700 and change any delivery details prior to the cut off time for the delivery slot.</p>
			<table style="width: 326px; color:#666; margin-top: 20px; margin-bottom:20px;" border="1"><colgroup><col> <col> </colgroup>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Delivery Slot</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Cut off time</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7 AM - 10 AM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">10 AM - 1 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">4:30 PM - 7:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7:30 PM - 10:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV9 = ! showFaqDLV9">
			 How much are the delivery charges ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV9">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV9">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV9">
			<p style="color: #666;">Grocermax.com offers free delivery for orders above Rs. 250/-. A nominal delivery fee of Rs. 50/- will be levied for orders below this amount. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV10 = ! showFaqDLV10">
			 Do you deliver in my area ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV10">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV10">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV10">
			<p style="color: #666;">Currently, Grocermax  delivers in Gurgaon, Dwarka, Palam, Vikaspuri, Janakpuri, Punjabi Bagh only. Multi city expansion is on the cards and we will be covering all of Delhi NCR soon. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV11 = ! showFaqDLV11">
			 Will someone inform me if my order delivery gets delayed ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV11">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV11">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV11">
			<p style="color: #666;">Absolutely! We will call and inform you if your order is going to reach after the delivery time specified by you. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV14 = ! showFaqDLV14">
			 What is the minimum order for delivery ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV14">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV14">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV14">
			<p style="color: #666;">There is no minimum order at Grocermax.com. We will, however, levy a nominal fee of Rs. 50/- for orders below Rs. 250/-. Above this amount, home delivery is absolutely free. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV12 = ! showFaqDLV12">
			 Do you do same day delivery ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV12">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV12">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV12">
			<p style="color: #666;">Yes. If you place your order before 12 Noon, we will be able to deliver on the same day.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqDLV13 = ! showFaqDLV13">
			 Is Same Day Delivery applicable to only a few products or all products ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqDLV13">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqDLV13">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqDLV13">
			<p style="color: #666;">Same day delivery applies to every single product available on our website. Life just got so much better! </p>
		</div>
	</div>
	
	<!--CANCELATION & RETURN POLICY-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Cancellation & Return policy</h3>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqCRP1 = ! showFaqCRP1">
			 Can I cancel certain items from my order ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCRP1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCRP1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCRP1">
			<p style="color: #666;">You can alter your order anytime before the cut off time prescribed for your delivery slot.</p>
			<table style="width: 326px; color: #666; margin-top: 20px; margin-bottom:20px;" border="1">
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Delivery Slot</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Cut off time</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7 AM - 10 AM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">10 AM - 1 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Previous day 6 PM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">4:30 PM - 7:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top: 2px;">
						<p><span style="font-size: medium;">7:30 PM - 10:30 PM</span></p>
					</td>
					<td style="padding-left:10px;padding-top: 2px;"
						<p><span style="font-size: medium;">Same day 10 AM</span></p>
					</td>
				</tr>
			</table>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqCRP2 = ! showFaqCRP2">
			 What if I receive an item which is damaged/expired/not in usable condition ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -24px;margin-bottom: -4px;" ng-hide="showFaqCRP2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -36px;margin-bottom: -14px;"ng-show="showFaqCRP2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCRP2">
			<p style="color: #666;">We have a ‘no question asked’ returns policy in case of returns. At any point before taking the delivery, you feel that the product has not been delivered to you in a desired state, please hand it back to our delivery team. In case, you have already paid – the balance amount will be refunded to you in the same debit card / credit card / bank account that you used to make the payment in 10 working days. If it was up to us, we would do it faster but the reversal procedures by banks take that much time.</p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqCRP3 = ! showFaqCRP3">
			 What is refund process in case of cancellation ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqCRP3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqCRP3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqCRP3">
			<p style="color: #666;">In case you cancel your order the money will be refunded back in your debit/credit card within 7-10 working days. </p>
		</div>
	</div>
	
	<!--OTHERS-->
	<div class="row margin0" style="padding: 0 16px;margin-top: 30px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0">
			<h3 style="color: #db5433; font-size: 18px;margin: 0 0 3px;">Others</h3>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;" ng-click="showFaqOT1 = ! showFaqOT1">
			 Where can I find currently running offers/ promotions ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOT1">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOT1">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOT1">
			<p style="color: #666;">We work hard to put together awesome deals and promotions for you. You can find a list of all deals/promotions on our Homepage under ‘DEALS’ section, which is at the top. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOT2 = ! showFaqOT2">
			 I am a corporate/ business. Can I place orders with GrocerMax ?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOT2">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOT2">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOT2">
			<p style="color: #666;">Absolutely, all customers are welcome. Yes, you can place an order with GrocerMax even if you are a corporate/business. Please focus on running your business. Let us keep your pantry stocked. </p>
		</div>
		
		<div class="col-md-12 col-sm-12 col-xs-12" style="background: #666; color:#fff; border-radius: 4px;padding: 5px 10px;z-index: 1;margin-top: 15px;" ng-click="showFaqOT3 = ! showFaqOT3">
			 Will I always get the freebies mentioned in your offer/s?
			<span style="float: right;font-weight: bold;font-size: 22px;margin-top: -7px;margin-bottom: -4px;" ng-hide="showFaqOT3">+</span>
			<span style="float: right;font-weight: bold;font-size: 36px;margin-top: -18px;margin-bottom: -14px;"ng-show="showFaqOT3">-</span>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="border: solid 1px #2d2d2d;border-bottom-left-radius: 4px;
         border-bottom-right-radius: 4px;border-top-style: none;padding-top: 8px;" ng-show="showFaqOT3">
			<p style="color: #666;">You'll always get the freebies that are mentioned in the offers except for bill busters (such as Bade Miyan, Fortune Combo & others). A bill buster is many products bundled into one offer with certain discounts and/or freebies. In case of bill busters the freebies are valid for 3 times per customer. </p>
		</div>
	</div>
	
</div>