<section>
	<div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		style="margin-top: 80px;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text">
			<span>To reset your password, type full email address you use to sign in</span>
		</div>
		<form name="frmRegistration" novalidate>
			<div class="col-md-12 col-sm1234-12 col-xs-12 padtb16 margin-top15" style="padding-left: 0;padding-right: 0;">
				<input type="text" name="email" placeholder="email"
					data-ng-model="email"
					data-ng-change="changeForgotPassword(email)"
					ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" 
                    required my-max-length="40" validate-email autocomplete="false"
					class="place-color reg-list-input" style="border-radius: 4px;padding: 10px 0 10px 10px;">	
				<div ng-messages="frmRegistration.email.$error" 
                	data-ng-show="frmRegistration.email.$dirty || (errorRegistration && email == null)">
                    <div ng-show="frmRegistration.email.$error.required" 
                    	class="error-message">Please enter your email address</div>
                    <div ng-show="frmRegistration.email.$error.pattern && frmRegistration.email.$touched"
                    	class="error-message">Please enter a valid email address</div>
                </div>			
			</div>
			<div class="alert" role="alert"
				data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
				data-ng-show="showUserResponse">{{userResponseMessage}}</div>
			<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15"
				data-ng-click="forgotPassword(frmRegistration)">			
				<button type="button" class="pad16 otp-btn">SUBMIT</button>
			</div>
		</form>
	</div>
</section>