<section>
	<div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		style="margin-top: 35%;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text">
			<span>To reset your password, type full email address you use to sign in</span>
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass">
			<input type="text" name="otp" placeholder="email"
				data-ng-model="email"
				data-ng-change="changeForgotPassword(email)"
				value=""
				class="place-color reg-list-input">				
		</div>
		<div class="alert" role="alert"
			data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
			data-ng-show="showUserResponse">{{userResponseMessage}}</div>
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15"
			data-ng-click="forgotPassword()">			
			<button type="button" class="pad16 otp-btn">SUBMIT</button>
		</div>
	</div>
</section>