<div class="row margin0">
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-middle">
        <div class="row margin0" 
            style="padding-left: 16px; padding-right: 16px; position:relative;">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0" 
                data-ng-show="columnSize == 1">
                <a href="#/"><img src="images/header-icon/home.png" title="Home" 
                    class="img-responsive"></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 padd0 margin-lt22p" 
                data-ng-show="columnSize == 1"
                data-ng-click="showUserMenu()"
                outsideclick="handleOutSideClick()">
                <a href="javascript:void(0);">
                    <img src="images/header-icon/profile.png" 
                        title="User" class="img-responsive"></a>                
            </div>
            <div data-ng-show="showUserMenuOptions"
                style=" position: absolute; top: 110%; width: 300px; z-index: 100; left:-15%;">
                <ul class="list-unstyled drop-box">
                    <li><a href="#/user/register"
                        data-ng-show="!isUserLoggedIn">Register</a></li>
                    <li><a href="#/user/login"
                        data-ng-show="!isUserLoggedIn">Login</a></li>
                    <li><a href="#/user/profile"
                        data-ng-show="isUserLoggedIn">Profile</a></li>
                    <li><a href="javascript:void(0);"
                        data-ng-show="isUserLoggedIn"
                        data-ng-click="logout()">Logout</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd0" 
                data-ng-show="columnSize == 4"
                data-ng-click="routerChange('/')">
                <a href="javascript:void(0);">
                    <img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive" style="display:inline; "> </a>
                <span style="color:#FFFFFF; font-weight:bold; ">&nbsp;{{categoryName}}</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 margin-lt22p"
                data-ng-show="showSearchIcon">
                <a href="javascript:void(0);">
                    <img class="img-responsive" src="images/header-icon/search1.png" 
                        title="Search"></a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 margin-lt22p">
                <a href="javascript:void(0);">
                    <img src="images/header-icon/cart.png" title="Cart" 
                        class="img-responsive"></a>
                <div class="header-O" 
                    data-ng-click="guestAddProduct()">{{cartItemCount}}</div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 float-rt more-icon-mrg"
                data-ng-show="showMoreIcon"
                data-ng-click="showMoreMenu()"
                outsideclick="handleOutSideClick()">
                <a href="javascript:void(0);">
                    <img src="images/header-icon/more-icon.png" title="More" 
                        class="img-responsive"></a>                
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top15 padd0"
                data-ng-show="showMoreMenuOptions"
                style="position: absolute; z-index: 100; top: 24%;">
                <ul class="list-unstyled drop-box">
                    <li><a href="#/page/faq">FAQ&apos;s</a></li>
                    <li><a href="#/page/contact">Contact Us</a></li>
                    <li><a href="#/page/payment">Payment Methods</a></li>
                    <li><a href="#/page/term">Terms of Service</a></li>
                    <li><a href="#/page/about">About us</a></li>
                </ul>
            </div>
        </div>
        <div class="row margin0 margin-top32"
            data-ng-show="showSearchBar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white border-rad">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd0 list-icon" 
                    data-ng-click="toggleCategoryMenu()">
                    <img src="images/app_bar_icons/list.png" alt="" class="img-responsive">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padd0">
                    <input type="text" placeholder="Search and buy from here..." 
                        class="search-bar">
                </div>
                <!-- search-icon -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 " 
                    style="float: right; top: 12px;">
                    <img src="images/app_bar_icons/search_icon.jpg" alt="" 
                        class="img-responsive float-rt">
                </div>
            </div>
        </div>
    </div> 
    <div class="left-menu" data-ng-show="showCategoryMenu" 
        style="position: absolute; z-index: 100; top: 24%;">
        <div class="menu-item-h">HOME</div>
        <ul class="list-unstyled pad-lt32 back-white">
            <li class="item-shop">SHOP FOR</li>
            <li class="menu-item" data-ng-repeat="category in categories"
                data-ng-click="toggleSubCategoryMenu(category.category_id)">
                {{category.name}}
                <img src="images/app_bar_icons/RIGHT-ICON.png" alt="" 
                    class="img-responsive" style="display:inline; float:right;">
            </li>            
        </ul>
    </div>
    <div class="left-menu" data-ng-show="showSubCategoryMenu"
        style="position: absolute; z-index: 100; top: 24%;">
        <div class="menu-item-h" data-ng-click="toggleCategoryMenu()">
            <img src="images/app_bar_icons/back-icon.png" alt="" class="img-responsive" 
                style="display:inline; ">
            {{categoryName}}
        </div>
        <ul class="list-unstyled pad-lt32 back-white">
            <!-- Special category handling -->
            <li class="menu-item" data-ng-repeat="category in subCategories"
                data-ng-show="isSpecialCategory(category.category_id)"
                data-ng-click="routerChange('product', category.category_id)">
                {{category.name}}
            </li>

            <!-- Normal category handling -->
            <li class="menu-item" data-ng-repeat="category in subCategories"
                data-ng-show="!isSpecialCategory(category.category_id)"
                data-ng-click="toggleSubSubCategory(category.category_id)">            
                {{category.name}}
                <img src="images/app_bar_icons/PLUS-ICON.png" alt="" class="img-responsive"
                    data-ng-show="subSubCategoryIndex != category.category_id"
                    style="display:inline; float:right;">
                <img src="images/app_bar_icons/MINUS-ICON.png" alt="" class="img-responsive"
                    data-ng-show="subSubCategoryIndex == category.category_id"
                    style="display:inline; float:right;">
                <ul class="list-unstyled" 
                    data-ng-show="subSubCategoryIndex == category.category_id">
                    <li class="sub-item" 
                        data-ng-show="category.children.length"
                        data-ng-repeat="subCategory in category.children"
                        data-ng-click="routerChange('product', subCategory.category_id)">
                        {{subCategory.name}}
                    </li>                    
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" 
                style="background: #000000 none repeat scroll 0 0; color: #FFFFFF; ">
                <div class="row margin0" style="color:#000;">
                    <div class="col-md-12 col-sm-12 col-xs-12 padd0 center-box">
                        <div class="col-md-12 col-sm-12 col-xs-12 padd0" 
                            style="color: #FFFFFF; font-weight: bold; font-size: 18px; ">
                            <span>Where do you want us to deliver your groceries?</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 padd0">
                            <ul class="list-unstyled">
                                <li style="padding-top: 25px; ">
                                    <span class="location-city" 
                                        data-ng-class="{'active': cityLocation.delhi}"
                                        data-ng-click="setCityLocation('delhi')">Delhi</span>
                                </li>
                                <li style="padding-top: 25px; ">
                                    <span class="location-city"
                                        data-ng-class="{'active': cityLocation.gurgaon}"
                                        data-ng-click="setCityLocation('gurgaon')">Gurgaon</span>
                                </li>
                                <li style="padding-top: 25px; ">
                                    <span class="location-city"
                                        data-ng-class="{'active': cityLocation.noida}"
                                        data-ng-click="setCityLocation('noida')">Noida</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
