<div class="row margin0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-middle" style="position:fixed;top:0;z-index:2;">
        <div class="row margin0" >
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0" 
                data-ng-show="columnSize == 1">
                <a href="/#/">
					<span class="home-sharp-icon"></span>
				</a>
            </div>
            <!--data-ng-click="showUserMenu()"
                outsideclick="handleOutSideClick()"-->
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 padd0 margin-lt15p" style="width:40%;" data-ng-show="columnSize == 1 && showMoreIcon">
				<!--<img src="images/location-nav.png" title="User" class="locate-img" data-ng-hide="selectedCity">-->
				<span class="location-sharp-icon" data-ng-show="selectedCity"></span>
				<span class="locate-text">{{selectedCity}}</span>
			</div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 padd0 margin-lt3p" 
                data-ng-show="columnSize == 1" data-ng-class="{'margin-lt22p': !showMoreIcon}">
                <a href="#/user/profile" data-ng-show="isUserLoggedIn">
					<!--<img src="images/reheadericonsize/profile2.png" title="User" class="">-->
					<span class="user2-sharp-icon"></span>
                    <!--<span class="user-icon-1"></span>-->
				</a>
                <a href="#/user/login" data-ng-show="!isUserLoggedIn">
					<span class="user-sharp-icon"></span>
				</a>                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padd0" 
                data-ng-show="columnSize == 4" back>
                <a href="javascript:void(0);">
                    <!--<img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive" style="display:inline; ">-->
					<!--<span class="back-icon"></span>-->
					<!--<img src="images/reheadericonsize/back-icon.png" title="" style="width:20px;margin: 2px 0 0 0;float:left;">-->
					<span class="back-sharp-icon"></span>
				</a>
						<span style="color:#FFFFFF; font-weight:bold; ">&nbsp;{{categoryName}}</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padd0" 
                data-ng-show="columnSize == 10" back style="margin-top: 2px;">
                <a href="javascript:void(0);">
                    <!--<img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive back-img-mr">--> 
					<!--<span class="back-icon"></span>-->
					<!--<img src="images/reheadericonsize/back-icon.png" title="" style="width:20px;margin: 2px 0 0 0;float:left;">-->
					<span class="back-sharp-icon"></span>
				</a>
                <span class="head-text text-ellipsis">&nbsp;{{categoryName}}</span>
            </div>
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padd0" 
                data-ng-show="columnSize == 11" back style="margin-top: 2px;">
                <a href="javascript:void(0);">
                    <!--<img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive back-img-mr">--> 
					<!--<span class="back-icon"></span>-->
					<!--<img src="images/reheadericonsize/back-icon.png" title="" style="width:20px;margin: 2px 0 0 0;float:left;">-->
					<span class="back-sharp-icon"></span>
				</a>
                <span class="head-text text-ellipsis">&nbsp;{{specialDealName}}</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padd0" 
                data-ng-show="columnSize == 12" back style="margin-top: 2px;">
                <a href="javascript:void(0);">
                    <!--<img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive back-img-mr">--> 
                    <!--<span class="back-icon"></span>-->
					<!--<img src="images/reheadericonsize/back-icon.png" title="" style="width:20px;margin: 2px 0 0 0;float:left;">-->
					<span class="back-sharp-icon"></span>
                </a>
                <span class="head-text text-ellipsis">&nbsp;{{topofferdealname}}</span>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padd0" 
                data-ng-show="columnSize == 13" back style="margin-top: 3px;">
                <a href="javascript:void(0);">
                    <!--<img src="images/app_bar_icons/back-icon.png" title="" 
                        class="img-responsive back-img-mr">--> 
                    <!--<span class="back-icon"></span>-->
					<!--<img src="images/reheadericonsize/back-icon.png" title="" style="width:20px;margin: 2px 0 0 0;float:left;">-->
					<span class="back-sharp-icon"></span>
                </a>
                <span class="head-text text-ellipsis">&nbsp;Offer Detail</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 margin-lt22p"
                data-ng-show="showSearchIcon">
                <a href="javascript:void(0);">
                    <!--<img class="searchicon" src="images/header-icon/search1.png"
                        data-ng-click="toggleSearchSection()" 
                        title="Search">-->
						<span class="search-icon" data-ng-click="toggleSearchSection()"></span>
				</a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 float-rt"
                data-ng-hide="hideCartIcon">
                <span 
                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="Open Cart" 

                    data-ng-click="navigateToCart()">
                    <a href="javascript:void(0);">
                        <!--<img src="images/reheadericonsize/cart-sharp.png" title="Cart" class="head-icon-size">-->
						<span class="cart-sharp-icon"></span>
					</a>
                    <div class="header-O" data-ng-show="cartItemCount > 0">
                        {{cartItemCount}}</div>
                    <!-- <div class="header-O" data-ng-show="cartItemCount == 0">&nbsp;</div> -->
                </span>
            </div>
            <!--<div class="col-lg-1 col-md-1 col-sm-1 padd0 float-rt" style="width:11%"
                data-ng-show="showMoreIcon"
                data-ng-click="showMoreMenu()"
                outsideclickmenu="handleOutSideClick()">
                <a href="javascript:void(0);">
					<span class="more-icon"></span>
				</a>                
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 show-more-menu"
                style="border:1px solid #FF0000; "
                data-ng-show="showMoreMenuOptions">
                <ul class="list-unstyled drop-box">
                    <li><a href="/#/page/faq">FAQ&apos;s</a></li>
                    <li><a href="/#/page/contact">Contact Us</a></li>
                    <!-- <li><a href="/#/page/payment">Payment Methods</a></li> -->
                    <li><a href="/#/page/term">Terms of Service</a></li>
                    <li><a href="/#/page/about">About us</a></li>
                </ul>
            </div>
        </div>
        <div class="row searchbox deals-hide"
            data-ng-show="showSearchBar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white border-rad">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padd0 list-icon" 
                    outsideclick="handleMenuCategoryOutsideClick()"
                    data-ng-click="toggleCategoryMenu()">
                    <!--<img src="images/app_bar_icons/list.png" 
                        title="Click here to see more categories" 
                        class="img-responsive" style="cursor:pointer;">-->
						<span class="list-icon-image"></span>						
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padd0">
                    <!-- search -->
                    <input type="text" placeholder="Search and buy from here..." 
                        data-ng-model="searchKeyword"
                        data-ng-change="changeSearchKeyword(searchKeyword)"
                        data-ng-keypress="checkIfEnterKeyWasPressed($event)"
						data-ng-click="trendingSearchList()"
                        class="search-bar text-ellipsis" only-alphanumeric-with-space>
                </div>
                <!-- search-icon -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 search-icon-pos">
                    <!--<img src="images/app_bar_icons/search_icon.jpg" alt="" 
                        class="img-responsive float-rt" search-btn style="cursor:pointer; ">-->
						<!--<span class="search-icon-img" search-btn></span>-->
						<!--<img src="images/reheadericonsize/search-icon.png" alt="" 
                        class="float-rt" search-btn style="cursor:pointer;width: 26px;margin: 7px 0 0 0;">-->
						<span class="search-sharp-icon" search-btn></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="trendList" style="background: #fff;width: 94%;margin: auto;position: absolute;top: 108px;left: 0;right: 0;z-index: 1;box-shadow: 0px 4px 12px 2px #686868;">
	<ul class="list-unstyled" style="height: 300px;overflow: auto;margin: 0;">
		<li data-ng-repeat="trendingdata in trendlist"
			data-ng-click="getTrendingName('{{trendingdata}}')" style="color: #b6b6b6;font-size: 16px;padding: 10px 0 10px 20px;border-bottom: solid 1px #f8f8f8;" search-btn>{{trendingdata}}</li>
	</ul>
</div>
<!-- Modal LOCATION-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" data-ng-show="loc_popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin0">
                    <div class="col-md-12 col-sm-12 col-xs-12 padd0 location-popup">
						<h1>Select your city</h1>
						<ul class="">
							<li data-ng-repeat="location in cityList" data-ng-class="{'locate-select': selectedCity.length == location.city_name.length}">
								<a href="javascript:void(0);"
									analytics-on analytics-event="{{location.city_name}}"
									analytics-category="City Change" 

									data-ng-init="setCityLocation(location)"  role="button">
									{{location.city_name}}
								</a>
							</li>
						</ul>				                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="menutouch" data-ng-show="showCategoryMenu"></div>
<div class="left-menu" data-ng-show="showCategoryMenu"
	outsideclick="handleMenuCategoryOutsideClick()">
	<!--<div class="menu-item-h">HOME</div>-->
	<ul class="list-unstyled margin0">
		<li class="item-shop" data-ng-click="homePageRedirect()">
            HOME
            <!--<img src="images/app_bar_icons/drawer_close_icon.png" alt="" 
                class="img-responsive edit-icon">-->
			<span class="close-icon"></span>
			</li>
		<li class="item-shop"   
            style="text-transform:uppercase; "         
            data-ng-click="editLocation()">
			<!--<img src="images/app_bar_icons/locationdrawer.png" alt="" 
				class="img-responsive loc-icon">-->
			<span class="location-drawer-img"></span>
			{{selectedCity}}
			<!--<img src="images/app_bar_icons/draweredit.png" alt="" 
				class="img-responsive edit-icon">-->
			<span class="drawer-edit-img"></span>
		</li>
        <li class="item-shop" data-ng-click="toggleMaxMoneyCategory()">
            MAX MONEY</li>
        <li class="item-shop" data-ng-click="toggleCoinsCategory()">
            MAX COINS</li>    
		<li class="item-shop" data-ng-click="toggleShopByCategory()">
            SHOP BY CATEGORIES</li>
		<li class="menu-item" 

            analytics-on analytics-event="{{ selectedCity }}"
            analytics-category="Drawer - L1" 
            analytics-label="{{category.name}}"

			data-ng-show="category.is_active && showShopByCategory"
			data-ng-repeat="category in categories"
			data-ng-click="toggleSubCategoryMenu(category.category_id)">
			{{category.name}}
			<!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
				class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
		</li>  
        <li class="item-shop" 
            data-ng-click="toggleShopByDeals()" 
            style="border-top: 1px solid #48392C;">SHOP BY DEALS</li>
        <li class="menu-item" 
            data-ng-show="deals.length && showShopByDeals"

            analytics-on analytics-event="{{ selectedCity }}"
            analytics-category="Drawer - Deal Category L1" 
            analytics-label="{{deal.dealType}}"
            
            data-ng-repeat="deal in deals"
            data-ng-click="routerChange('deals', deal.id)">
            {{deal.dealType}}
            <!--<img src="images/app_bar_icons/drawer_caret.png" alt="" 
                class="img-responsive" style="display:inline; float:right;">-->
			<span class="drawer-caret-img"></span>
        </li>
		<!-- <li class="item-shop" 
            data-ng-click="navigateToHotOffers()">SHOP BY DEALS</li> -->
		<li class="item-shop">
            <a href="mailto:hello@grocermax.com">GET IN TOUCH WITH US</a></li>
			<li class="item-shop"><a href="/#/page/faq">FAQ&apos;s</a></li>
			<li class="item-shop"><a href="/#/page/contact">Contact Us</a></li>
			<!-- <li><a href="/#/page/payment">Payment Methods</a></li> -->
			<li class="item-shop"><a href="/#/page/term">Terms of Service</a></li>
			<li class="item-shop"><a href="/#/page/about">About us</a></li>
		
	</ul>
</div>
<div class="menutouch" data-ng-show="showSubCategoryMenu"></div>
<div class="left-menu" data-ng-show="showSubCategoryMenu"
	outsideclick="handleSubMenuCategoryOutsideClick()">
	<div class="menu-subitem-h" data-ng-click="toggleCategoryMenu()">
		<!--<img src="images/app_bar_icons/gray-right-ico.png" alt="" 
			style="display:inline;">-->
		<span class="gray-right-icon"></span>
		<span style="text-transform: uppercase;">{{categoryName}}</span>
	</div>
	<ul class="list-unstyled">
		<!-- Special category handling -->
		<!-- <li class="menu-item sub-menu" data-ng-repeat="category in subCategories"
			data-ng-show="isSpecialCategory(category.category_id) && category.is_active"
			data-ng-click="routerChange('product', category.category_id)">
			{{category.name}}
		</li> -->

		<!-- Normal category handling -->
        <!-- data-ng-show="!isSpecialCategory(category.category_id) && category.is_active" -->
		<li class="menu-item sub-menu" data-ng-repeat="category in subCategories"
			data-ng-show="category.is_active"

            analytics-on analytics-event="{{ selectedCity }}"
            analytics-category="Drawer - L2" 
            analytics-label="{{category.name}}"

			data-ng-click="handleDrawerClick(category)"
			data-ng-class="{'ss-menu':subSubCategoryIndex == category.category_id}">            
			{{category.name}}
			<!--<img src="images/app_bar_icons/PLUS-ICON.png" alt="" class="img-responsive"
				data-ng-show="subSubCategoryIndex != category.category_id && isMenuToggalable(category)"
				style="display:inline; float:right;">-->
			<span data-ng-show="subSubCategoryIndex != category.category_id && isMenuToggalable(category)" class="plus-icon-img"></span>
			<!--<img src="images/app_bar_icons/MINUS-ICON.png" alt="" class="img-responsive"
				data-ng-show="subSubCategoryIndex == category.category_id && isMenuToggalable(category)"
				style="display:inline; float:right;">-->
			<span data-ng-show="subSubCategoryIndex == category.category_id && isMenuToggalable(category)" class="minus-icon-img"></span>
			<ul class="list-unstyled pad-top24" 
				data-ng-show="subSubCategoryIndex == category.category_id">
				<li class="sub-item" 
					data-ng-show="category.children.length"

                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="Drawer - L3" 
                    analytics-label="{{subCategory.name}}"

					data-ng-repeat="subCategory in category.children"
					data-ng-click="routerChange('product', subCategory.category_id)">
					{{subCategory.name}}
				</li>                    
			</ul>
		</li>
	</ul>
</div>
			
