<div ng-controller="categoryController">
    <!-- Start search section -->
	<div class="row" data-ng-include="'templates/search.html'"></div>
	<div style="clear:both;">&nbsp;</div>
    <!-- End search section -->

    <!-- Start banner section -->
	<div class="panel panel-default" data-ng-include="'templates/banner.html'"></div>
    <!-- End banner section -->

	<!-- Start category section -->
    <h3><span class="label label-default">Shop by Categories</span>	</h3>
	<div style="clear:both;">&nbsp;</div>
	<div class="row" data-ng-include="'templates/home-category.html'"></div>
    <!-- End category section -->

    <!-- Start deals section -->
	<h3><span class="label label-default">Shop by Deals</span></h3>
	<div style="clear:both;">&nbsp;</div>
	<div class="row" data-ng-include="'templates/deals.html'"></div>
    <!-- End deals section -->		
</div>