<div ng-controller="categoryController">    
    <header data-ng-include="'templates/header.html'"></header>
    <article style="margin-bottom: 35px;">
        <div class="row margin0 pad16 pad8-m" 
        	data-ng-include="'templates/banner.html'"></div>
        <div class="row margin0 back-white slide-shadow" 
        	data-ng-include="'templates/home-category.html'"></div>
        <!-- <div class="row margin0 slider margin-top15"
        	data-ng-include="'templates/deals.html'"></div> -->
    </article>		
</div>