<div ng-controller="categoryController">
    <header data-ng-include="'templates/header.html'"></header>
    <article data-ng-hide="displayLoader" style="background: #ececec;margin-top:105px;">
        <section>
			<div class="row margin0">				
				<div style="position: relative;">					
				    <ul rn-carousel class="image margin0 banner-slide"
				    	rn-carousel-auto-slide="2" 
				    	rn-carousel-duration="2000"
				    	rn-carousel-index="carouselIndex2"				    	
				    	rn-carousel-deep-watch>
	  					<li ng-repeat="banner in bannerList">
	    					<div class="layer">
	    						<img src="{{banner.imageurl}}" title="{{banner.name}}" 

	    							analytics-on analytics-event="{{ selectedCity }}"
						            analytics-category="Banner Click" 
						            analytics-label="{{banner.name}}"

									data-ng-click="handleBannerClick(banner)"
									class="banner-slide"></div>
	  					</li>	  					
					</ul>
					<div rn-carousel-indicators 
						ng-if="bannerList.length > 1" 
						slides="bannerList" 
						rn-carousel-index="carouselIndex2" 
						class="ng-scope ng-isolate-scope dot-btm-center" 
						style="text-align:center; font-size:15px;margin-bottom: -10px;">
						<div class="rn-carousel-indicator">
							<span ng-repeat="banner in bannerList" 
								ng-class="{active: $index==index}" 
								ng-click="goToSlide($index)"
								style="font-size:20px;">●</span>
						</div>
					</div>
				</div>				
			</div>			
		</section>
		<section>
			<div class="row homecategory">
				<!--<div class="col-md-12 col-sm-12 col-xs-12 slider-text center-align padd0">
					<div class="col-md-1 col-sm-1 col-xs-1 padd0 slide-border"></div>
					<div class="col-md-9 col-sm-9 col-xs-9 padd0">SHOP BY CATEGORIES</div>
					<div class="col-md-1 col-sm-1 col-xs-1 padd0 slide-border"></div>
				</div>-->
				<div class="col-sm-4 col-xs-4"
				data-ng-repeat="category in categories"
				data-ng-show="category.is_active">
					<img src="{{categoryImageUrl}}{{category.category_id}}.png" title="{{category.name}}" class="img-responsive"
						analytics-on analytics-event="{{ selectedCity }}"
						analytics-category="L1" 
						analytics-label="{{ category.name }}"
						data-ng-click="routerChange('category', category.category_id, category.name)">
					<span class="text-ellipsis">{{category.name}}</span>
				</div>				
			</div>
			
		</section>
		<section>
			<div class="row specialdeal">
				<div class="col-sm-12 col-xs-12 pad-lr6" data-ng-repeat="deal in deals">
					<h1>{{deal.dealType}}</h1>
					<img src="{{deal.img}}" title="{{deal.dealType}}" class="img-responsive"
						analytics-on analytics-event="{{ selectedCity }}"
						analytics-category="L1" 
						analytics-label="{{deal.dealType}}"
						data-ng-click="routerChange('deals', deal.id, deal.dealType)">
				</div>
			</div>
			<div class="row specialdeal">
				<div class="col-sm-12 col-xs-12 pad-lr6" data-ng-repeat="banner in specialdeals">
					<h1>{{banner.name}}</h1>
					<img src="{{banner.imageurl}}" title="{{banner.name}}" class="img-responsive"
						analytics-on analytics-event="{{ selectedCity }}"
						analytics-category="L1" 
						analytics-label="{{banner.name}}"
						data-ng-click="handleBannerClick(banner)">
				</div>
			</div>
			
			<div class="row margin0 pad-l-9p">
				<div class="col-md-12 col-sm-12 col-xs-12 slider-text center-align padd0">
					<div class="col-md-1 col-sm-1 col-xs-1 padd0 slide-border col-md-offset-1 col-sm-offset-1 col-xs-offset-1"></div>
					<div class="col-md-7 col-sm-7 col-xs-7 padd0">OUR PROMISES</div>
					<div class="col-md-1 col-sm-1 col-xs-1 padd0 slide-border"></div>
				</div>
			</div>
			<div class="row margin0 center-align pad-bot30">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<img src="images/app-footer.png" title="" style="width: 90%;">
				</div>
			</div>
		</section>
		<section class="no-animate">
			<div class="app-strip" data-ng-show="closeStrip"> 
				<div id="trapezoid">
					DOWNLOAD OUR APP
				</div>
				<a href="https://itunes.apple.com/in/app/grocermax.com-online-grocery/id1049822835?mt=8" target="_blank" style="text-decoration: none;">
					<img src="images/apple-app.png" alt="" class="ip-img">
				</a>
				<a href="https://play.google.com/store/apps/details?id=com.rgretail.grocermax&hl=en" target="_blank" style="text-decoration: none;">
					<img src="images/android-app.png" alt="" class="ap-img">
				</a>
				<img src="images/strip-cross.png" alt="" class="close-btn" data-ng-click="closeStrip = !closeStrip">
			</div>
		</section>
    </article>
   
    <div data-ng-show="displayLoader" class="black_shade">
		<img src="images/ajax-loader.gif" />
	</div> 
	
</div>