<div ng-controller="categoryController">    
    <header data-ng-include="'templates/header.html'"></header>
    <article>
		<section>
			<div class="row margin0 margin-top15">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0"
					data-ng-show="deals.length" 
					data-ng-repeat="deal in deals">
					<div class="pad4 img-box margin-lt15 imgbox-rt-margin">
						<img src="images/shutterstock1.png" title="{{deal.dealType}}" 
							class="img-responsive">
						<div class="ao-img-block">
							<div class="ao-text0">{{deal.dealType}}</div>
						</div>
					</div>					
				</div>				
			</div>			
		</section>
	</article>		
</div>