<div ng-controller="categoryController">    
    <header data-ng-include="'templates/header.html'"></header>
    <article class="margin-bot15">
		<section>
			<div class="row margin0 pad16 pad-bot0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 margin-bot15"
					data-ng-show="deals.length" 
					data-ng-repeat="deal in deals">
					<div class="pad4 img-box cat-box">
						<img src="{{deal.img}}" title="{{deal.dealType}}" 
							data-ng-click="routerChange('deals', deal.id)"
							class="img-responsive">
						<!-- <div class="ao-img-block">
							<div class="ao-text0">{{deal.dealType}}</div>
						</div> -->
					</div>					
				</div>				
			</div>			
		</section>
	</article>		
</div>