<section>
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 4.1vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			LOGIN
		</div>
	</div>
	
	<div class="row margin0 margin-top32 margin-bot32 margin-tp-bt-16m">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-lt-rt8-m">
			<button type="button" class="reg-btn btn-fb">
				<img src="images/app_bar_icons/fb.png" alt="">
				Sign in with Facebook
			</button>
			
			<button type="button" class="reg-btn btn-google">
				<img src="images/app_bar_icons/google.png" alt="">
				Sign in with Google
			</button>	
		</div>
	</div>
	
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 3.5vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			OR LOGIN USING EMAIL
		</div>
	</div>
	
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			<ul class="list-unstyled pad-lt32 margin0 pad-rt32 pad-lt-rt16-m" style="margin-top: 4px;">
				<li class="reg-list">
					<span class="reg-list-text">Email</span><br>
					<input type="text" placeholder="required" 
						data-ng-model="user.uemail"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Password</span><br>
					<input type="password" placeholder="required" 
						data-ng-model="user.password"
						class="place-color reg-list-input">
				</li>				
			</ul>
		</div>
	</div>
	<div class="alert" role="alert"
		data-ng-class="{'alert-success': className.success, 'alert-danger': className.danger}"
		data-ng-show="showUserResponse">{{userResponseMessage}}</div>
	<div class="row margin0" data-ng-click="loginUser()">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			<button type="button" class="reg-bot-btn">LOGIN</button>
		</div>
	</div>
</section>