<header>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-middle-des" style="box-shadow: none;">
			<div class="row margin0 pad-lt16 pad-rt16 padd0-m">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 back-icon-mrg">
					<img src="images/header-icon/cross-ico.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 padd0">
					<a style="text-decoration: none;">
						<span class="head-text">Order Id: {{orderDetails.increment_id}}</span>
					</a>
				</div>
			</div>
		</div>			
	</div>
</header>
<article>
	<section>
		<div class="row margin0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 od-h">
				<span>DELIVERY INFO</span>
			</div>
		</div>
		<div class="row margin0 back-white">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 pad-lt32">
				<ul class="list-unstyled margin0">
					<li class="od-list">
						<div class="od-list-h1">Order date:</div>
						<div class="od-list-h2">
							{{orderDetails.status_history[0].created_at}}</div>
					</li>
					<li class="od-list">
						<div class="od-list-h1">Shipping charge</div>
						<div class="od-list-h2">
							Rs. {{toFixedDecimal(orderDetails.shipping_amount)}}</div>
					</li>
					<li class="od-list">
						<div class="od-list-h1">Payment method:</div>
						<div class="od-list-h2">
							{{renderPaymentMethod(orderDetails.payment.method)}}</div>
					</li>
					<li class="od-list">
						<div class="od-list-h1">Delivery Date:</div>
						<div class="od-list-h2">{{orderDetails.deliverydate[0].value}}</div>
					</li>
					<li class="od-list">
						<div class="od-list-h1">Delivery Time:</div>
						<div class="od-list-h2">{{orderDetails.deliverydate[1].value}}</div>
					</li>
					<li class="od-list">
						<div class="od-list-h1">Shipping address:</div>
						<div class="od-list-h2">{{renderShippingAddress(orderDetails.shipping_address)}}</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row margin0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 od-h">
				<span>YOUR ORDER</span>
			</div>
		</div>
		<div class="row margin0 back-white">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 pad-lt32">
				<ul class="list-unstyled margin0">
					<li class="od-list">
						<div class="od-list-h3">
							Jivo Conilla Oil
							<span class="pad-rt32 float-rt">$17.00</span>
						</div>
						<div class="od-list-h4">1 litre</div>
						<div class="od-list-h2">
							Quantity: <span>1 X $17.00</span>
						</div>
					</li>
					<li class="od-list">
						<div class="od-list-h3">
							Subtotal
							<span class="pad-rt32 float-rt">$17.00</span>
						</div>
						<div class="od-list-h4">
							Delivery Charges
							<span class="pad-rt32 float-rt">$1.50</span>
						</div>
						<div class="od-save-h">
							You Saved
							<span class="pad-rt32 float-rt">$2.50</span>
						</div>
					</li>
					<li class="od-list">
						<div class="od-total-h">
							Total
							<span class="pad-rt32 float-rt">$18.50</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</article>