<!-- <header>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-middle-des" style="box-shadow: none;">
			<div class="row margin0 pad-lt16 pad-rt16 padd0-m">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padd0 back-icon-mrg">
					<img src="images/header-icon/cross-ico.png" alt="" class="img-responsive">
				</div>
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 padd0">
					<a style="text-decoration: none;">
						<span class="head-text">Order Id: {{orderDetails.increment_id}}</span>
					</a>
				</div>
			</div>
		</div>			
	</div>
</header> -->
<article>
	<section class="orderinfo">
		<h2>DELIVERY INFO</h2>
		<div class="row margin0 back-white">
			<div class="ordergrid">
				<ul class="list-unstyled margin0">
					<li >
						<div class="od-list-h1">Order ID</div>
						<div class="infotxt">
							{{orderDetails.increment_id}}</div>
					</li>
					<li >
						<div class="od-list-h1">Order date:</div>
						<div class="infotxt">
							{{orderDetails.status_history[0].created_at}}</div>
					</li>
					<li >
						<div class="od-list-h1">Shipping charge</div>
						<div class="infotxt">
							Rs. {{toFixedDecimal(orderDetails.shipping_amount)}}</div>
					</li>
					<li >
						<div class="od-list-h1">Payment method:</div>
						<div class="infotxt">
							{{orderDetails.payment.method}}</div>
					</li>
					<li >
						<div class="od-list-h1">Delivery Date:</div>
						<div class="infotxt">{{orderDetails.deliverydate[0].value}}</div>
					</li>
					<li >
						<div class="od-list-h1">Delivery Time:</div>
						<div class="infotxt">{{orderDetails.deliverydate[1].value}}</div>
					</li>
					<li >
						<div class="od-list-h1">Shipping address:</div>
						<div class="infotxt">
							{{renderShippingAddress(orderDetails.shipping_address)}}
						</div>
					</li>
				</ul>
			</div>
		</div>

        <h2>YOUR ORDER</h2>
		<div class="row margin0 back-white">
			<div class="ordergrid">
				<ul class="list-unstyled margin0">
					<!--data-ng-show="item.applied_rule_ids"-->
					<li class="od-list" data-ng-repeat="item in orderDetails.items">
						<div class="pdetail">
							<!-- {{item.name}} -->
							<span>{{renderItemName1(item)}} {{renderItemName2(item)}}</span>
							<span>
								Rs. {{toFixedDecimal(item.base_original_price)}}</span>
						</div>
						<!-- <div class="od-list-h4">1 litre</div> -->
						<div class="quantxt">
							Quantity: <span>
								{{convertToInteger(item.qty_ordered)}} * Rs. {{toFixedDecimal(item.base_original_price)}}</span>
						</div>
					</li>
					<li class="od-list">
						<div class="pdetail boldtxt">
							<span>Subtotal</span>
							<span >
								Rs. {{toFixedDecimal(orderDetails.subtotal)}}</span>
						</div>
						<div class="pdetail">
							<span>Delivery Charges</span>
							<span>Rs. {{toFixedDecimal(orderDetails.shipping_amount)}}</span>
						</div>
						<div class="pdetail">
							<span>You Saved</span>
							<span>
								Rs. {{toFixedDecimal(orderDetails.discount_amount)}}</span>
						</div>
					</li>
					<li class="od-list">
						<div class="pdetail boldtxt">
							<span>Total</span>
							<span>Rs. {{toFixedDecimal(orderDetails.base_grand_total)}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0"
			style="margin-top:70px;">
			<button type="button" class="reg-bot-btn bot-foot"  
			data-ng-show="enterStoreId == orderDetails.store_id"
			data-ng-click="reOrder(orderDetails.increment_id , order)">REORDER</button>
		</div>-->
	</section>
</article>