<section>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 back-white">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padd0">
				<!--<img src="images/app_bar_icons/left-icon.png" alt="" class="img-responsive b-left-icon">-->
				<img class="left-icon b-left-icon" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASAQMAAABVZ61PAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAAxJREFUeNpjYCAHAAAANgABiIlqgQAAAABJRU5ErkJggg==">
				<h1 class="bill-head">PAYMENT METHOD</h1>
			</div>
			<div class="bill-O-box">
				<div class="bill-O bill-O-active"></div>
				<div class="bill-O bill-O-active"></div>
				<div class="bill-O bill-O-active"></div>
				<div class="bill-O bill-O-active"></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmeth-h">SELECT MODE OF PAYMENT</div>
	</div>
	<div class="row margin0 pad-lt16 pad-rt16 pad-ltr8-m" style="font-family: roboto;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0" style="box-shadow: 0px 2px 8px -5px;">
			<ul class="list-unstyled margin0 pmeth-list">
				<li>
					<span>Cash on delivery</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('cashondelivery', payment)" 
						data-ng-model="payment.cashondelivery"
						class="img-responsive float-rt bill-check-img"/>
					<!-- <img src="images/app_bar_icons/check-box.png" alt="" class="img-responsive float-rt pmeth-chek"> -->
				</li>
				<li>
					<span>Credit / Debit card</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('cc', payment)" 
						data-ng-model="payment.cc"
						class="img-responsive float-rt bill-check-img"/>
					<!-- <img src="images/app_bar_icons/check-box.png" alt="" class="img-responsive float-rt pmeth-chek"> -->
				</li>
				<li>
					<span>Sodexho coupons</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('sodexo', payment)" 
						data-ng-model="payment.sodex_cc"
						class="img-responsive float-rt bill-check-img"/>
					<!-- <img src="images/app_bar_icons/check-box.png" alt="" class="img-responsive float-rt pmeth-chek"> -->
				</li>
				<li>
					<img src="images/app_bar_icons/paytm-icon.png" alt="" 
						class="img-responsive pmeth-icon">
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('paytm_cc', payment)" 
						data-ng-model="payment.paytm_cc"
						class="img-responsive float-rt bill-check-img"/>
					<!-- <img src="images/app_bar_icons/check-box.png" alt="" class="img-responsive float-rt pmeth-chek" style="margin-top:-7.8%;"> -->
				</li>
				<li>
					<img src="images/app_bar_icons/mobi-icon.png" alt="" 
						class="img-responsive pmeth-mob-icon">
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('mobikwik', payment)" 
						data-ng-model="payment.mobikwik"
						class="img-responsive float-rt bill-check-img"/>
					<!-- <img src="images/app_bar_icons/check-box.png" alt="" class="img-responsive float-rt pmeth-chek" style="margin-top:-7.8%;"> -->
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmeth-h">
			ORDER SUMMARY
		</div>
	</div>
	<div class="row margin0 pad-lt16 pad-rt16 pad-ltr8-m">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0" style="box-shadow:0px 2px 8px -5px; border-radius:4px;">
			<ul class="list-unstyled margin0 pad-lt16 pad-rt16 font4-3">
				<li class="pmeth-card-h">
					<span>{{totalCartQty}} item</span>
					<span>Rs. {{cartDetails.subtotal}}</span>
				</li>
				<ul class="list-unstyled margin0 pmeth-card">
					<li>
						<span>Sub total:</span>
						<span class="float-rt">Rs. {{cartDetails.subtotal}}</span>
					</li>
					<li>
						<span>Shipping charges:</span>
						<span class="float-rt">Rs. {{cartDetails.shipping_address.shipping_amount}}</span>
					</li>
					<li>
						<span>Coupon discount:</span>
						<span class="float-rt pmeth-card-font">Rs. 0.00</span>
					</li>
					<li>
						<span>You Saved:</span>
						<span class="float-rt pmeth-card-font">Rs. {{youSaved}}</span>
					</li>
					<li>
						<span>Total:</span>
						<span class="float-rt">Rs. {{cartDetails.subtotal}}</span>
					</li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="row margin0" style="margin: 20px 0px 35px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-lt-rt8-m">
			<div class="col-md-8 col-sm-8 col-xs-8 padd0 back-white card-input">
				<input type="text" placeholder="Enter coupon code">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 padd0 pmeth-btn">
				<button type="button">APPLY CODE</button>
			</div>			
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0  margin-top15" >
		<button type="button" class="reg-bot-btn"
			data-ng-click="placeOrder()">PLACE ORDER</button>
	</div>
</section>