<div class="row margin0 back-white">	
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h3 style="margin: 20px 0;padding: 0 0 5px; width:198px; border-bottom: solid 2px #929292;">Payment Methods</h3>
		<p style="color: #666;margin: 0 0 20px;">We offer you multiple payment methods such as: Credit Card, Debit Card, Net Banking, Paytm Wallet, American Express, Visa, MasterCard, Maestro, Sodexo Coupon, Ticket Meal Vouchers and Cash on Delivery.<br>If you choose payment modes other than Cash on Delivery or Sodexo Coupon, rest assured, our trusted payment gateway partners keep your transaction details safe using secure encryption technology.</p>
		
		<p style="color: #666;margin: 0 0 20px;">Online modes of payments are recommended. But if you are not comfortable with this you may choose Cash on Delivery, and pay in cash when the product is delivered at your doorstep.</p>
		
		<h3 style="font-size: 20px;margin: 0 0 3px;">Shipping Policy</h3>
		
		<p style="color: #666;margin: 0 0 20px;">Your orders are compiled and packed in our state of the art fulfillment center and dispatched in sealed and barcoded crates to ensure you get what you ordered.</p>
		
		<p style="color: #666;margin: 0 0 20px;">We deliver your orders same day through our own branded vans. A nominal delivery fee of Rs. 50/- will be levied for orders below Rs. 250. We don't charge anything for purchases beyond Rs. 250. The prices listed at checkout phase is final and all-inclusive. There are no hidden charges.</p>
		
		<p style="color: #666;margin: 0 0 20px;">At the time of checkout, you've the flexibility to choose a convenient one from 4 delivery slots when you would prefer the delivery to be done. Here are the delivery slots:</p>
		<pre style="padding: 0;outline: 0;border: 0;margin: 0 0 20px;background: transparent;">08:00 AM - 11:00 AM
11:00 AM - 02:00 PM
05:30 PM - 08:30 PM
07:00 PM - 10:00 PM</pre>
		
		<p style="color: #666;margin: 0 0 20px;">You can change your delivery slot after placing the order by calling our call center number -  8010 500 700. Your order will delivered in the revised slot, if the same is available. This can be done prior to the slot cut-off as mentioned below:</p>
		
		<pre style="padding: 0;outline: 0;border: 0;margin: 0 0 20px;background: transparent;">Delivery Slot                   Cut-Off Time 
08:00 AM - 11:00 AM	        Previous day 6 PM
11:00 AM - 02:00 PM		Previous day 6 PM
05:30 PM - 08:30 PM		Same day 10 AM
07:00 PM - 10:00 PM		Same day 10 AM
</pre>

		<h3 style="font-size: 20px;margin: 0 0 3px;">Locations We Ship To</h3>		
		<p style="color: #666;margin: 0 0 20px;">Currently we're delivering in Gurgaon, Delhi, Noida and Ghaziabad. With a pan-India target, we're fast expanding. Please check back later.</p>
		
		<h3 style="font-size: 20px;margin: 0 0 3px;">Estimated Delivery Time</h3>		
		<p style="color: #666;margin: 0 0 20px;">
			All the order placed on GrocerMax before 12 noon are delivered same day. You will receive your order in the slot selected at the time of placing order.</p>
		<p style="color: #666;margin: 0 0 20px;">You can track your order anytime by calling us on 8010 500 700. We will keep you updated with messages at key fulfillment phases such as Order Confirmation and Ready to Dispatch. We will give you the Fulfillment Executive’s number in case you wish to track the exact location of your order.</p>
		<p style="color: #666;margin: 0 0 20px;">We will call you and inform in case your order is going to reach after the delivery time specified by you.</p>
		
		<h3 style="font-size: 20px;margin: 0 0 3px;">Return Policy</h3>
		<p style="color: #666;margin: 0 0 20px;">
			We have a ‘no question asked’ returns policy in case of returns. If you feel that the product has not been delivered to you in a desired state and/or quality, please hand it back to our delivery team. However, as per shelf-life of the products, you must return the perishable goods and food items within <b>3 days</b> of receiving the same. For staples and packaged items having longer shelf life return period limit is <b>7 days</b>. In case, you have already paid – the balance amount will be refunded to you in the same debit card / credit card / bank account that you used to make the payment in 10 working days. If it was up to us, we would do it faster but the reversal procedures by banks take that much time.</p>
		<p style="color: #666;margin: 0 0 20px;">You can cancel the order anytime before the cut off time for the delivery slot by calling our call centre on 8010 500 700. The cut off times for respective slots are as follows:</p>
		
		<pre style="padding: 0;outline: 0;border: 0;margin: 0 0 20px;background: transparent;">Delivery Slot                   Cut-Off Time 
08:00 AM - 11:00 AM	        Previous day 6 PM
11:00 AM - 02:00 PM		Previous day 6 PM
05:30 PM - 08:30 PM		Same day 10 AM
07:00 PM - 10:00 PM		Same day 10 AM
</pre>
		
		<p style="color: #666;margin: 0 0 20px;">In case you cancel your order the money will be refunded back in your debit/credit card within 7-10 working days.</p>
	</div>
</div>