<section>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 back-white padtb16">
			<div class="bill-O-box">
				<div class="bill-O"></div>
				<div class="bill-bar"></div>
				<div class="bill-O"></div>
				<div class="bill-bar"></div>
				<div class="bill-O"></div>
				<div class="bill-bar"></div>
				<div class="bill-O bill-O-active"></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmeth-h">
			SELECT MODE OF PAYMENT</div>
	</div>
	<div class="row margin0 pad-lt16 pad-rt16" style="font-family: roboto;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0" style="box-shadow: 0px 2px 8px -5px;">
			<ul class="list-unstyled margin0 pmeth-list">
				<li>
					<span>Cash on delivery</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('cashondelivery', payment)" 
						data-ng-model="payment.cashondelivery"
						class="img-responsive float-rt pmt-checkbox"/>					
				</li>
				<li>
					<img src="images/app_bar_icons/paytm-icon.png" alt="" 
						class="img-responsive pmeth-icon">
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('paytm_cc', payment)" 
						data-ng-model="payment.paytm_cc"
						class="img-responsive float-rt paytm-check"/>					
				</li>
				<!-- <li>
					<span>Credit / Debit card</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('cc', payment)" 
						data-ng-model="payment.cc"
						class="img-responsive float-rt pmt-checkbox"/>					
				</li>
				<li>
					<span>Sodexho coupons</span>
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('sodexo', payment)" 
						data-ng-model="payment.sodex_cc"
						class="img-responsive float-rt pmt-checkbox"/>					
				</li>				
				<li>
					<img src="images/app_bar_icons/mobi-icon.png" alt="" 
						class="img-responsive pmeth-mob-icon">
					<input type="checkbox" name="paymentMethod"
						data-ng-change="changePaymentMethod('mobikwik', payment)" 
						data-ng-model="payment.mobikwik"
						class="img-responsive float-rt paytm-check"/>					
				</li> -->
			</ul>
		</div>
	</div>
	
	<div class="row margin0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmeth-h">
			ORDER SUMMARY
		</div>
	</div>
	<div class="row margin0 pad-lt16 pad-rt16">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0" style="box-shadow:0px 2px 8px -5px; border-radius:4px;">
			<ul class="list-unstyled margin0 pad-lt16 pad-rt16 font4-3">
				<li class="pmeth-card-h">
					<span>{{totalCartQty}} item</span>
					<span>Rs. {{toFixedDecimal(cartDetails.grand_total)}}</span>
				</li>
				<ul class="list-unstyled margin0 pmeth-card">
					<li>
						<span>Sub total:</span>
						<span class="float-rt">
							Rs. {{toFixedDecimal(cartDetails.grand_total)}}</span>
					</li>
					<li>
						<span>Shipping charges:</span>
						<span class="float-rt">
							Rs. {{toFixedDecimal(cartDetails.shipping_address.shipping_amount)}}</span>
					</li>
					<li data-ng-show="cartDetails.grand_total >= 500 && isCouponCodeApplied">
						<span>Coupon discount:</span>
						<span class="float-rt pmeth-card-font">Rs. {{toFixedDecimal(couponAmount)}}</span>
					</li>
					<li>
						<span>You Saved:</span>
						<span class="float-rt pmeth-card-font">
							Rs. {{toFixedDecimal(youSaved)}}</span>
					</li>
					<li>
						<span>Total:</span>
						<span class="float-rt">
							Rs. {{toFixedDecimal(cartDetails.grand_total)}}</span>
					</li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="row margin0"
		style="margin: 20px 0px 70px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
			data-ng-show="cartDetails.grand_total >= 500 && !isCouponCodeApplied">
			<div class="col-md-8 col-sm-8 col-xs-8 padd0 back-white card-input">
				<input type="text" 
					data-ng-model="couponCode"
					value="{{couponCode}}"
					placeholder="Enter coupon code">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 padd0 pmeth-btn"
				data-ng-click="applyCouponCode(couponCode)">
				<button type="button">APPLY CODE</button>
			</div>			
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
			data-ng-show="cartDetails.grand_total >= 500 && isCouponCodeApplied">
			<div class="col-md-8 col-sm-8 col-xs-8 padd0 back-white card-input">
				{{couponCode}}
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 padd0 pmeth-btn"
				data-ng-click="removeCouponCode(couponCode)">
				<button type="button">REMOVE CODE</button>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0  margin-top15" 
		data-ng-click="placeOrder()">
		<button type="button" class="reg-bot-btn bot-foot">PLACE ORDER</button>
	</div>
	<div style="display: none;">
		<form name="frmPaytm" id="frmPaytm" method="POST">
			<input type="text" name='CHANNEL_ID' value="{{paytmFormDetails.CHANNEL_ID}}" />
			<input type="text" name="CHECKSUMHASH" value="{{paytmFormDetails.CHECKSUMHASH}}">
			<input type="text" name='CUST_ID' value="{{paytmFormDetails.CUST_ID}}" />
			<input type="text" name='EMAIL' value="{{paytmFormDetails.EMAIL}}" />
			<input type="text" name='INDUSTRY_TYPE_ID' value="{{paytmFormDetails.INDUSTRY_TYPE_ID}}" />
			<input type="text" name='MID' value="{{paytmFormDetails.MID}}" />
			<input type="text" name='MOBILE_NO' value="{{paytmFormDetails.MOBILE_NO}}" />
			<input type="text" name='ORDER_ID' value="{{paytmFormDetails.ORDER_ID}}" />
			<input type="text" name='TXN_AMOUNT' value="{{paytmFormDetails.TXN_AMOUNT}}" />
			<input type="text" name='WEBSITE' value="{{paytmFormDetails.WEBSITE}}" />
			<input type="submit" name="btn" value="Click" />
		</form>
	</div>
</section>