<div ng-controller="orderController">
	<section class="succes-back">
		<div class="row margin0">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 padd0">
				<img src="images/logo-order.png" alt="" class="img-responsive" style="margin-top: 28.6%;">
			</div>
		</div>
		
		<div class="row margin0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 os-box1">
				<div class="os-box1-h1">Success!</div>
				<div class="os-box1-h2">YOUR ORDER HAS BEEN PLACED</div>
				<div class="os-box1-h3">Oder ID is <span style="font-weight: 400;">{{orderId}}</span></div>
				<div class="os-box1-h4">Please check your mail for details</div>
			</div>
		</div>
		<div class="row margin0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 padd-t50 padd-t25-m">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 padd0" style="padding-right: 8px;">
					<button type="button" class="os-btn" 
						data-ng-click="navigateTo('/')">Continue Shoping</button>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padd0" style="padding-left: 8px;">
					<button type="button" class="os-btn"
						data-ng-click="navigateTo('user/orderhistory')">Order History</button>
				</div>
			</div>
		</div>
		<div class="row margin0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 os-box2">
				<div class="os-box2-h1">"Tell your friends! they BUY, you EARN - Simple!"</div>
			</div>
		</div>
		<div class="row margin0">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 margin-top32 margin-top16-m">
				<div class="os-social-icon">
					<img src="images/header-icon/fb-icon.png" alt="" class="img-responsive">
				</div>
				<div class="os-social-icon">
					<img src="images/header-icon/gmail-icon.png" alt="" class="img-responsive">
				</div>
				<div class="os-social-icon">
					<img src="images/header-icon/whatsapp-ico.png" alt="" class="img-responsive">
				</div>
				<div class="os-social-icon">
					<img src="images/header-icon/msg-evelop-ico.png" alt="" class="img-responsive">
				</div>
			</div>
		</div>
	</section>
</div>