<div ng-controller="productController">
    <header data-ng-include="'templates/header.html'"></header>
    <section>
        <div class="row margin0 nav-red">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                <ul class="list-unstyled nav-list">
                    <li class="prod-nav-li nav-active">ALL</li>
                    <!-- <li class="prod-nav-li">HOT-OFFERS</li> -->
                    <li class="prod-nav-li"
                        style="text-transform: uppercase;"
                        data-ng-click="routerChangeChild('product', lastChild.category_id, lastChild.parent_id)"
                        data-ng-repeat="lastChild in lastChildCategoryList">
                        {{lastChild.name}}</li>
                    <!-- <li class="prod-nav-li">CASHEWS</li>
                    <li class="prod-nav-li">BEVERAGES</li>
                    <li class="prod-nav-li">ALMODS</li>
                    <li class="prod-nav-li">CASHEWS</li>
                    <li class="prod-nav-li">BEVERAGES</li> -->
                </ul>
            </div>
        </div>
    </section>    
	<article class="margin-bot15">
        <div class="row margin0 pad16 pad8-m">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box"
                data-ng-repeat="product in products">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-tp-5p"
                    data-ng-click="routerChange('product/details', product.productid)">
                    <img src="{{replaceImageUrl(product.Image)}}" 
                        alt="" class="img-responsive">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padd0"
                    data-ng-click="routerChange('product/details', product.productid)">
                    <ul class="list-unstyled">
                        <li class="prod-list-h">{{product.p_brand}}</li>
                        <li class="cat-list-name">{{product.Name}}</li>
                        <li class="prod-list-qnty">{{product.p_pack}}</li>
                        <li class="font-3"><span class="product-qnty">₹ {{product.Price}} |</span> <span class="prod-new-price">₹ {{product.sale_price}}</span></li>
                        <li class="product-qnty">₹ {{getPriceDifference(product.Price, product.sale_price)}}</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cat-list-box"
                    data-ng-show="product.Status == 'In stock'">
                    <ul class="list-unstyled cat-list">
                        <li class="cat-minus" data-ng-click="removeProduct(product)">-</li>
                        <li class="cat-input-box">
                            <input type="text" placeholder="1" 
                                value="{{getProductQuantity(product.productid)}}" 
                                class="cat-input-text">
                        </li>
                        <li class="cat-plus" data-ng-click="addProduct(product)">+</li>
                    </ul>
                </div>
            </div>            
        </div>
    </article>
</div>