<div ng-controller="productController">
    <header data-ng-include="'templates/header.html'" class="top-head"></header>
    
    <section class="prod-sec" data-ng-show="allProductCategoryList.length">
        <div class="row margin0 nav-red top-subhead">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                <ul class="list-unstyled nav-list top-height text-uppercase">
                    <li class="prod-nav-li"
                        data-ng-show="data.Totalcount > 0"
                        data-ng-click="setAllCategoryProducts(data, data.product)"
                        data-ng-class="{'nav-active': data.isSelected}"
                        data-ng-repeat="data in allProductCategoryList">
                        {{data.category_name}}</li>                   
                </ul>                
            </div>
        </div>
    </section>  

    <section class="prod-sec" data-ng-show="!allProductCategoryList.length && isProductLoaded">
        <div class="row margin0 top-subhead">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
                <div style="width:100%; text-align:center; padding:20px; ">
                    Sorry no item found.
                </div>  
            </div>
        </div>
    </section>

	<article class="inner-body">
        <div class="row margin0 pad16 del-div" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box margin-bot15" data-ng-show="products.length < 1 && isProductLoaded">
                <div style="padding:10px; text-align:center; ">No product found</div>
            </div>
            <!-- endless-scroll="product in products" -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box margin-bot15"
            	data-ng-class="{'promotion_level': product.promotion_level}"  
                data-ng-show="products.length > 0"
                data-ng-repeat="product in products">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 list-img-box padd0"

                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="L4" 
                    analytics-label="{{product.p_name}}"

                    data-ng-click="routerChange('product/details', product.productid)">
                    <img src="{{product.Image}}" 
                        alt="{{product.Name}}" class="img-responsive card-img-center">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padd0" style="padding-top:2px; padding-left:5px;">
                    <ul class="list-unstyled plisting" style="margin-bottom:10px;"
                    
                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="L4" 
                    analytics-label="{{product.p_name}}"

					data-ng-click="routerChange('product/details', product.productid)">
                        <li class="prod-list-h">
							{{product.p_brand}}							
							<img src="images/app_bar_icons/cart_add_quantity.png" 
                                data-ng-show="getCartProductQuantity(product.productid) > 0"
                                alt="{{product.Name}}" class="img-responsive cart-image">
							<span class="cart-txt"
                                data-ng-show="getCartProductQuantity(product.productid) > 0">
                                {{getCartProductQuantity(product.productid)}}</span>
						</li>
                        <li class="cat-list-name text-ellipsis">{{product.p_name}}</li>
                        <li class="prod-list-qnty">{{product.p_pack}}</li>
                        <li class="font-3"><span class="product-qnty">₹ {{truncateComma(product.sale_price)}} </span> <span class="prod-new-price">| ₹ {{truncateComma(product.Price)}}</span></li>                        
                    </ul>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0 plus-minus-btn"
						data-ng-show="product.Status == 'In stock'">
						<ul class="list-unstyled cat-list">
							<li class="cat-minus" 
                                data-ng-click="decreaseProductQuantity(product.productid, 'productid')">
								<img src="images/app_bar_icons/minus-img.png" class="img-responsive" style="">
							</li>
							<li class="cat-input-box">
								<input type="text" value="{{product.quantity}}" 
                                    class="cat-input-text" readonly >
							</li>
							<li class="cat-plus" 
                                data-ng-click="increaseProductQuantity(product.productid, 'productid')">
								<img src="images/app_bar_icons/plus-img.png" class="img-responsive">
							</li>
						</ul>
					</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0"
                        data-ng-class="{'add-btn-box': product.Status == 'In stock',
                        'sold-out': product.Status != 'In stock'}">
                        <button type="button" class="add-btn" 
                            data-ng-show="product.Status == 'In stock'"                         
                            data-ng-click="addProductOneByOne(product)">ADD</button>
                        <span class="prod-list-h soldout" 
                            data-ng-show="product.Status != 'In stock'">Sold Out</span>
					</div>
                </div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
					<h1 class="ribbon" data-ng-show="product.promotion_level">
						<span class="ribbon-content">{{product.promotion_level}}</span>
					</h1>
				</div>
            </div>            
        </div>
    </article>
    <div class="popupcontainerloader" style="position:fixed;"
        data-ng-show="displayLoader">        
<div class="loaderimg"><img src="images/ajax-loader.gif" /></div>
    </div>
    <div data-ng-show="displayLoader" class="black_shade"></div>
</div>