<section>
	<div class="row margin0 user-card">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padd0">
				<img src="images/profile-img.png" alt="" class="img-responsive O-border-rad">
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padd0">
				<div class="pad-lt26 user-name">{{userProfile.personalInfo.firstname}} {{userProfile.personalInfo.lastname}}</div>
				<div class="pad-lt26 user-details pad-t-b3">{{userProfile.personalInfo.email}}</div>
				<div class="pad-lt26 user-details">{{userProfile.personalInfo.mobile}}</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row margin0 profile-box">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			<ul class="list-unstyled user-ul margin0">
				<li class="user-info"
					data-ng-click="navigateTo('user/order/history')">Order History
					<img src="images/app_bar_icons/p-right-icon.png" alt="" class="img-responsive float-rt user-icon-arr">
				</li>
				<li class="user-info"
					data-ng-click="navigateTo('user/address')">My Addresses
					<img src="images/app_bar_icons/p-right-icon.png" alt="" class="img-responsive float-rt user-icon-arr">
				</li>
				<li class="user-info"
					data-ng-click="navigateTo('user/profile/edit')">Edit my information
					<img src="images/app_bar_icons/p-right-icon.png" alt="" class="img-responsive float-rt user-icon-arr">
				</li>
			</ul>
		</div>
	</div>
</section>