<section>
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 4.1vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			REGISTER
		</div>
	</div>
	
	<!-- <div class="row margin0 margin-top32 margin-bot32 margin-tp-bt-16m">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-lt-rt8-m">
			<button type="button" class="reg-btn btn-fb">
				<img src="images/app_bar_icons/fb.png" alt="">
				Sign in with Facebook
			</button>
			
			<button type="button" class="reg-btn btn-google">
				<img src="images/app_bar_icons/google.png" alt="">
				Sign in with Google
			</button>	
		</div>
	</div>
	
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 3.5vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			OR SIGNUP
		</div>
	</div> -->
	
	<div class="row margin0" data-ng-show="registrationStep == 1">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			<ul class="list-unstyled pad-lt32 margin0 pad-rt32 pad-lt-rt16-m" style="margin-top: 4px;">
				<li class="reg-list">
					<span class="reg-list-text">First Name</span><br>
					<input type="text" placeholder="required" 
						data-ng-model="user.fname"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Last Name</span><br>
					<input type="text" placeholder="required" 
						data-ng-model="user.lname"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Mobile No.</span><br>
					<input type="text" placeholder="required"
						data-ng-model="user.number" 
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Email</span><br>
					<input type="text" placeholder="required" 
						data-ng-model="user.uemail"
						class="place-color reg-list-input">
				</li>
				<li class="reg-list">
					<span class="reg-list-text">Password</span>
					<span class="float-rt reg-list-text"
						data-ng-click="togglePasswordField()"
						style="cursor:pointer; ">{{password.caption}}</span><br>
					<input type="{{password.type}}" placeholder="required" 
						data-ng-model="user.password"
						class="place-color reg-list-input">
				</li>
				<li>
					<p class="reg-para">By clicking this button you agree & accept our User Agreement and Privacy Policy.</p>
				</li>
			</ul>
		</div>
		<div class="alert" role="alert"
			data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
			data-ng-show="showUserResponse">{{userResponseMessage}}</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			<button type="button" class="reg-bot-btn"
				data-ng-click="createUser()">CREATE ACCOUNT</button>
		</div>
	</div>

	<div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		data-ng-show="registrationStep == 2"
		style="margin-top: 10%;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text">
			<span>Enter your one time password (OTP)</span>
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass">
			<input type="text" name="otp" 
				data-ng-model="otp"
				data-ng-change="changeOTP(otp)"
				value=""
				maxlength="6" 
				class="place-color reg-list-input">				
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15">
			<div class="alert" role="alert"
				data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
				data-ng-show="showUserResponse">{{userResponseMessage}}</div>
			<button type="button" class="pad16 otp-btn"
				data-ng-click="verifyOTP()">SUBMIT</button>
		</div>
	</div>
</section>