<section>
	<!-- <div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 4.1vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
			REGISTER
		</div>
	</div> -->
	
	<div class="row margin0 margin-top32 margin-bot32 margin-tp-bt-16m" style="margin-top:35%;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-lt-rt8-m">
			<button type="button" class="reg-btn btn-fb">
				<img src="images/app_bar_icons/fb.png" alt="">
				Sign in with Facebook
			</button>
			
			<button type="button" class="reg-btn btn-google">
				<img src="images/app_bar_icons/google.png" alt="">
				Sign in with Google
			</button>	
		</div>
	</div>
	
	<div class="row margin0 pad-lt32 reg-bar pad-lt16-m"style="font-size: 3.5vw;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
			OR SIGNUP
		</div>
	</div>
	<form name="frmRegistration" novalidate>
		<div class="row margin0 back-white" data-ng-show="registrationStep == 1">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
				<ul class="list-unstyled pad-lt32 margin0 pad-rt32 pad-lt-rt16-m">
					<li class="reg-list">
						<span class="reg-list-text">First Name</span><br>
						<input type="text" name="fname" placeholder="required" 
							data-ng-model="user.fname"
							required my-max-length="15" only-alphabets-with-space
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.fname.$error" 
                        	data-ng-show="frmRegistration.fname.$dirty || (errorRegistration && user.fname == null)">
                            <div ng-show="frmRegistration.fname.$error.required" 
                            	class="error-message">Please enter your first name</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Last Name</span><br>
						<input type="text" name="lname" placeholder="required" 
							data-ng-model="user.lname"
							required my-max-length="15" only-alphabets-with-space
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.lname.$error" 
                        	data-ng-show="frmRegistration.lname.$dirty || (errorRegistration && user.lname == null)">
                            <div ng-show="frmRegistration.lname.$error.required" 
                            	class="error-message">Please enter your last name</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Mobile No.</span><br>
						<input type="text" name="mobile" placeholder="required"
							data-ng-model="user.number" 
							required my-max-length="40" only-digits
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.mobile.$error" 
                        	data-ng-show="frmRegistration.mobile.$dirty || (errorRegistration && user.mobile == null)">
                            <div ng-show="frmRegistration.mobile.$error.required" 
                            	class="error-message">Please enter your mobile number</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Email</span><br>
						<input type="text" name="email" placeholder="required" 
							data-ng-model="user.uemail"
							ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" 
                            required my-max-length="40" validate-email
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.email.$error" 
                        	data-ng-show="frmRegistration.email.$dirty || (errorRegistration && user.uemail == null)">
                            <div ng-show="frmRegistration.email.$error.required" 
                            	class="error-message">Please enter your email address</div>
                            <div ng-show="frmRegistration.email.$error.pattern && frmRegistration.email.$touched"
                            	class="error-message">Please enter a valid email address</div>
                        </div>
					</li>
					<li class="reg-list">
						<span class="reg-list-text">Password</span>
						<span class="float-rt reg-list-text"
							data-ng-click="togglePasswordField()"
							style="cursor:pointer; ">{{password.caption}}</span><br>
						<input type="{{password.type}}" name="password" placeholder="required" 
							data-ng-model="user.password"
							required my-min-length="6"
							class="place-color reg-list-input">
						<div ng-messages="frmRegistration.password.$error" 
                        	data-ng-show="frmRegistration.password.$dirty || (errorRegistration && user.password == null)">
                            <div ng-show="frmRegistration.password.$error.required" 
                            	class="error-message">Please enter your password</div>
                        </div>
					</li>
					<li>
						<p class="reg-para">By clicking this button you agree & accept our User Agreement and Privacy Policy.</p>
					</li>
				</ul>
			</div>
			<div class="alert" role="alert"
				data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
				data-ng-show="showUserResponse">{{userResponseMessage}}</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0" >
				<button type="button" class="reg-bot-btn"
					data-ng-click="createUser(frmRegistration)">CREATE ACCOUNT</button>
			</div>
		</div>
	</form>

	<div class="row margin0 pad-lt26 pad-lt32 pad-rt32" 
		data-ng-show="registrationStep == 2"
		style="margin-top: 10%;">
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 otp-text">
			<span>Enter your one time password (OTP)</span>
		</div>
		<div class="col-md-12 col-sm1234-12 col-xs-12 pad16 margin-top15 otp-pass">
			<input type="text" name="otp" 
				data-ng-model="otp"
				data-ng-change="changeOTP(otp)"
				value=""
				maxlength="6" 
				class="place-color reg-list-input">				
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12 padd0 margin-top15">
			<div class="alert" role="alert"
				data-ng-class="{'alert-success': className.success,'alert-danger': className.danger}"
				data-ng-show="showUserResponse">{{userResponseMessage}}</div>
			<button type="button" class="pad16 otp-btn"
				data-ng-click="verifyOTP()">SUBMIT</button>
		</div>
	</div>
</section>