<div ng-controller="productController">
    <header data-ng-include="'templates/header.html'" class="top-head"></header>
    
	<article class="" style="margin-top: 60px;">
        <div class="row margin0" >
            <!-- endless-scroll="product in products" -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box margin-bot15" data-ng-click="onePageIdFunc(lnkUrl)">
                 <img src="{{imgUrl}}" alt="{{categoryName}}" class="img-responsive">
            </div>            
        </div>
    </article>
    <div data-ng-show="displayLoader" class="black_shade">
		<!--<img src="images/ajax-loader.gif" />-->
		<div>
			<div class="loader"></div>
		</div>
	</div> 
</div>