<div ng-controller="productController">
    <header data-ng-include="'templates/header.html'" class="top-head"></header>
	<article class="special-deal">
        <div class="row margin0" >
            <!-- endless-scroll="product in products" -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back-white padd0 cat-box margin-bot15"
            	data-ng-class="{'promotion_level': product.promotion_level}"  
                data-ng-repeat="specialdealitem in products">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 list-img-box padd0"

                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="L4" 
                    analytics-label="{{specialdealitem.p_name}}"

                    data-ng-click="routerChange('product/details', specialdealitem.productid)">
                    <img src="{{specialdealitem.Image}}" 
                        alt="{{specialdealitem.Name}}" class="img-responsive card-img-center">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padd0" style="padding-top:2px; padding-left:5px;">
                    <ul class="list-unstyled plisting" style="margin-bottom:10px;"
                    
                    analytics-on analytics-event="{{ selectedCity }}"
                    analytics-category="L4" 
                    analytics-label="{{specialdealitem.p_name}}"

					data-ng-click="routerChange('product/details', specialdealitem.productid)">
                        <li class="prod-list-h">
							{{specialdealitem.p_brand}}							
							<img src="images/app_bar_icons/cart_add_quantity.png" 
                                data-ng-show="getCartProductQuantity(specialdealitem.productid) > 0"
                                alt="{{specialdealitem.Name}}" class="img-responsive cart-image">
							<span class="cart-txt"
                                data-ng-show="getCartProductQuantity(specialdealitem.productid) > 0">
                                {{getCartProductQuantity(specialdealitem.productid)}}</span>
						</li>
                        <li class="cat-list-name text-ellipsis">{{specialdealitem.p_name}}</li>
                        <li class="prod-list-qnty">{{specialdealitem.p_pack}}</li>
                        <li class="font-3"><span class="product-qnty">₹ {{truncateComma(specialdealitem.sale_price)}} </span> <span class="prod-new-price">| ₹ {{truncateComma(specialdealitem.Price)}}</span></li>                        
                    </ul>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0 plus-minus-btn"
						data-ng-show="specialdealitem.Status == 'In stock'">
						<ul class="list-unstyled cat-list">
							<li class=""  style="width: 32px;float: left;"  
                                data-ng-click="decreaseProductQuantity(specialdealitem.productid, 'productid')">
								<img src="images/minu.png" class="img-responsive">
							</li>
							<li class="cat-input-box">
								<input type="text" value="{{specialdealitem.quantity}}" 
                                    class="cat-input-text" readonly >
							</li>
							<li class="" style="width: 32px;float: right;" 
                                data-ng-click="increaseProductQuantity(specialdealitem.productid, 'productid')">
								<img src="images/plus.png" class="img-responsive">
							</li>
						</ul>
					</div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0"
                        data-ng-class="{'add-btn-box': specialdealitem.Status == 'In stock',
                        'sold-out': specialdealitem.Status != 'In stock'}">
                        <button type="button" class="add-btn" 
                            data-ng-show="specialdealitem.Status == 'In stock'"                         
                            data-ng-click="addProductOneByOne(specialdealitem)">ADD</button>
                        <span class="prod-list-h soldout" 
                            data-ng-show="specialdealitem.Status != 'In stock'">Sold Out</span>
					</div>
                </div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0">
					<h1 class="ribbon" data-ng-show="specialdealitem.promotion_level">
						<span class="ribbon-content">{{specialdealitem.promotion_level}}</span>
					</h1>
				</div>
            </div>            
        </div>
    </article>
    <div data-ng-show="displayLoader" class="black_shade">
		<img src="images/ajax-loader.gif" />
	</div> 
</div>