<div class="row margin0 margin-top15">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0"
		data-ng-show="category.is_active && subCategoryList.length" 
    	data-ng-repeat="category in subCategoryList | filter:searchText">
		<div class="pad4 img-box margin-lt15 imgbox-rt-margin"
			data-ng-click="routerChange('product', category.category_id)">
			<img src="images/shutterstock{{$index > 5 ? 6 : $index+1}}.png" 
				title="{{category.name}}" class="img-responsive">
		</div>
		<div class="margin-top15"></div>		
	</div>
</div>