<div ng-controller="userController">
	<header data-ng-include="'templates/header.html'"></header>
	<article data-ng-include="'templates/login.html'"
		data-ng-show="section.login"></article>
	<article data-ng-include="'templates/register.html'"
		data-ng-show="section.register"></article>
	<article data-ng-include="'templates/profile.html'"
		data-ng-show="section.profile"></article>
	<article data-ng-include="'templates/edit-profile.html'"
		data-ng-show="section.editprofile"></article>
	<article data-ng-include="'templates/address.html'"
		data-ng-show="section.address"></article>
	<article data-ng-include="'templates/add-edit-address.html'"
		data-ng-show="section.addaddress || section.editaddress"></article>	
	<article data-ng-include="'templates/order-history.html'"
		data-ng-show="section.orderhistory"></article>
</div>