body{background: #f4f4f4; font-family: roboto;}
a,a:hover {text-decoration: none;}
input , button, select{outline:none;}
/*header {position: fixed; z-index: 1; right: 0px; left: 0px; top: 0px;}*/

@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../font/Roboto-Light.woff') format('woff'), url('../font/Roboto-Light.ttf')  format('truetype'), url('../font/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family:'Lato-Light';
	src: url('../font/Lato-Light_gdi.eot');
	src: url('../font/Lato-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/Lato-Light_gdi.woff') format('woff'),
		url('../font/Lato-Light_gdi.ttf') format('truetype'),
		url('../font/Lato-Light_gdi.svg#Lato-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


/*@font-face {
	font-family:'HelveticaNeue-Regular';
	src: url('../font/HelveticaNeue_gdi.eot');
	src: url('../font/HelveticaNeue_gdi.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeue_gdi.woff') format('woff'),
		url('../font/HelveticaNeue_gdi.ttf') format('truetype'),
		url('../font/HelveticaNeue_gdi.svg#HelveticaNeue-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0-10FFFF;
}*/


/*.header-top{background: #B22603; height: 48px;}*/
.header-middle{padding: 30px 16px 16px; background: #EE2D09; box-shadow:0 7px 5px rgba(0, 0, 0, 0.2);}
.header-middle-cadd{background: #EE2D09; box-shadow:0 7px 5px rgba(0, 0, 0, 0.2);padding: 30px 16px;}
.width-100{width: 100%;}
.margin0{margin: 0px;}
.padd0{padding:0px;}
.pad4{padding:4px;}
.pad16{padding: 16px;}
.padtb16{padding-bottom:16px; padding-top:16px;}
.pad-ltr16{padding: 16px 16px 0;}
.pad-tlb16{padding: 16px 0 16px 16px;}
.pad-lt16{padding-left:16px;}
.pad-top24{padding-top:24px;}
.pad-lt26{padding-left:26px;}
.pad-rt26{padding-right:26px;}
.pad-rt16{padding-right:16px;}
.pad-lt32{padding-left: 32px;}
.pad-rt32{padding-right: 32px;}
.pad-lt45{padding-left:45px;}
.pad-t-b3{padding-top: 3px; padding-bottom: 3px;}
.padd-t50{padding-top: 50px;}
.pad-r10{padding-right:10px;}
.pad-l10{padding-left:10px;}
.pad-lr10{padding-left:10px; padding-right:10px;}
.pad-lr6{padding-left:6px; padding-right:6px;}
.pad-b-15{padding-bottom:15px;}
.pad-l-9p{padding-left: 9%;}
.pad-bot0{padding-bottom: 0px;}
.pad-lt-8{padding-left:8px;}
.pad-rt-8{padding-right:8px;}
.pad-bot30{padding-bottom:30px;}


.margin-top10{margin-top: 10px;}
.margin-rt15{margin-right: 15px;}
.margin-lt15{margin-left:15px;}
.margin-top15{margin-top: 15px;}
.margin-top32{margin-top: 32px;}
.margin-bot32{margin-bottom: 32px;}
.margin-bot15{margin-bottom: 15px;}
.margin-tp22{margin-top: 22px;}
.margin-tp36{margin-top: 36px;}
.margin-tp20{margin-top: 20px !important;}
.margin-bt22{margin-bottom: 22px;}
.margin-bt20{margin-bottom: 20px;}
.margin-lt25{margin-left:25px;}
.margin-rt25{margin-right:25px;}
.back-white{background:#fff;}
.border-rad{border-radius: 4px;}
.icon-margin{margin-top: 0.5%;}
.margin-lt22p{margin-left: 22%}
.more-icon-pos{margin-top: 36%;}
.margin-tp-5p{margin-top:5%;}
.margin-tp-13p{margin-top:13%;}
.margin-t40{margin-top: 40px;}
.float-rt{float: right;}
.search-bar{width: 100%; font-family: roboto; font-size: 22px;/*font-size: 3.5vw;*/ padding: 15px 0 15px 10px; border: medium none;margin:1px;}
.list-icon{margin-top: 8px;  width: 45px;}
.search-icon-pos{float: right; top: 12px;}
.head-text{color:#fff; font-size:5vw; cursor:pointer;}
/*.img-box{background: #fff;border-radius: 3px;box-shadow:0 7px 5px rgba(0, 0, 0, 0.2);}*/
.imgbox-margin{margin: 7.5px;}
.deals-img{margin-top:198px;}
.cat-img-mrg{margin-top:172px;}/*home change*/
.offer-img-mrg{margin-top: 198px;}
.imgbox-lt-margin{margin-left: 7.5px;}
.slider-text{font-family: lato;font-weight: bold; font-size: 4.4vw; color: #2d2d2d;letter-spacing: 5px;margin-bottom: 31px;margin-top: 46px;}
.slide-text{border:1px solid #F9e0dd; text-align:center; /*border-radius:4px; margin-top:-8px;margin-bottom:24px;*/ color:#e78e78; font-family:roboto; font-size: 3.4vw; letter-spacing:2px; padding:9px 0 6px; width: 368px;    font-weight: bold;}
.slide-border{border-top: 1px solid black;margin-top: 3.3%;}
.li-border{border-left: 1px solid #dedede; margin-right: 25px; margin-left: 25px;height: 208px;}
.img-text-box{margin-left: 15px; position: relative; bottom: 67px;}
.img-text-h{color: rgb(255, 255, 255); font-size: 3.5vw;}
.img-text{font-size: 3vw; color: #aeadad;}
.img-block{bottom: 5%;margin-left: 5%;position: absolute; width: 80%;}
.view-inline{display: inline-flex;}
.slide-shadow{box-shadow: 2px 2px 2px 3px #c7c7c7;}
.ul-height{height:208px;}
.O-border-rad{border-radius: 50%;}
.slide-ul{/*min-height: 304px;*/padding-left: 7px;}
.slide-ul li{padding-left: 25px; padding-right: 25px; border-right: 1px solid #eeeeee;/*height: 256px;*/}
.show-more-menu{position: absolute; z-index: 100; top: 100%;}
.center-align{text-align: center;}
/*.myselect{margin-bottom:3%;}*/
.bot-foot{position:fixed; bottom:0; height: 75px;z-index: 2;}
.top-head  .header-middle{position: fixed; z-index: 2; left: 0; right: 0; height: 89px;}
.top-subhead{position: fixed; z-index: 2; left: 0; right: 0; height: 104px;top:88px;}
.wrapper{margin-top: 88px; margin-bottom: 75px;}
.user-wrapper{margin-top: 88px;}
.inner-body{margin-top:94px;}
.prod-inner-body{margin-top:-36px;}
.header-fix-top{height: 94px; left: 0; position: fixed; right: 0; top: 0; z-index: 2;}
.top-nav-blue{left: 0; position: fixed; right: 0; top: 170px; z-index: 2;}


/*.header-O{background:#ffa800; position:absolute; border-radius:50%; top:-25%; right:-31%; font-size:3.5vw; color:#fff; padding:0 20%;}*/
.header-O{background: #ffa800 none repeat scroll 0 0; border-radius:50%; color:#fff; cursor:pointer; font-size:3vw; padding:4% 12.5%; position:absolute; right:-30%; text-align:center; top:-26%;width: 70%}
.btn-login{background:#0e69e5; border-radius:4px;}
.btn-signup{background:#ffa800; border-radius:4px;}
.font4-3{font-size:4.3vw;}
.more-icon-mrg{margin-top:35%;}
.dropdown-img{position:absolute; right:32px; margin-top:15px;z-index:1;}

/*========== LEFT PANEL ==========*/
.left-menu{background-image:url('../images/drawer_bg.png'); background-attachment:fixed; background-position:center center; background-repeat:no-repeat; background-size:cover; width: 77%;left: 0; position: fixed; top: 0; z-index: 999;height:100%;overflow: scroll;}
.menu-item-h{font-size: 4.4vw; padding: 38px 0 24px 32px;border-bottom: 2px solid #d2d2d2;}
.menu-subitem-h{font-size: 4.4vw; padding: 21px 0 21px 16px;border-bottom: 2px solid #413428;/*font-family: helveticaNeue-Regular;*/color:#fff;}
.menu-subitem-h > img{margin-right: 8px;}
.item-shop{/*background: #fff;*/font-size: 4vw;color: #fff; padding: 16px;letter-spacing: 2px;font-family: lato-light;border-bottom:1px solid #d2d2d2;}
.menu-item{/*background:#fff; font-family: helveticaNeue-Regular;*/color: #fff;font-size:4.1vw; padding: 10px 0 10px 32px;/* border-bottom:1px solid #d2d2d2;*/}
.sub-menu{font-weight:400;}
.menu-item .plus-sign{color: #acacac;float: right;font-size: 5.2vw;font-weight: 300;margin-right: 30px;margin-top: -5px;}
.menu-item .minus-sign{color: #acacac;float: right;font-size: 4vw;margin-right: 30px;text-transform: full-width;}
.menu-item ul{padding-left:32px;}
.menu-item img{margin-right:30px; margin-top:10px;}
.menu-item img:nth-child(2){margin-top:14px;}
.sub-item{/*background:#fff; */ border-bottom:1px solid #423226; border-top: 1px solid #423226; margin-top: -1px;font-size:3.5vw;font-weight:normal; padding: 24px 0;}

/*========== NAV BAR ==========*/
.nav-blue{margin-top:16px; overflow:auto; background:#0d69e4 none repeat scroll 0 0;}
.nav-list{/*font-family: helveticaNeue-Regular;*/ font-size:4.4vw; margin:0; display:inline-flex;/* height:98px;*/}
/*.nav-list li:nth-child(1){padding: 30px 22px 28px 25px;}*/
.nav-active{border-bottom: 4px solid;color:#fff !important;}
.nav-li{/*color: #b5d3fc;*/color: #fff; padding: 30px;white-space: nowrap;}

/*========== Register Form ==========*/
.place-color::-webkit-input-placeholder{color:#cbcbc8}
.place-color:-moz-placeholder{color:#cbcbc8}
.place-color::-moz-placeholder{color:#cbcbc8}
.place-color:-ms-input-placeholder{color:#cbcbc8}
.header-middle-reg{padding: 30px 16px; background: #EE2D09;}
.reg-bar{background:#f4f4f4;font-family: roboto; color: #7d7d76;padding-bottom: 11px;padding-top: 12px;letter-spacing: 2px;}
.reg-btn{border:medium none; border-radius:4px; font-size: 4.4vw; color:#fff; font-family:roboto; padding: 2.2% 0 3% 5%; width:47.4%;}
.btn-fb{background:#3b5a9a;}
.btn-google{background:#df4a32; margin-left:4%;}
.reg-list{padding-top:22px; padding-bottom:20px; border-bottom:1px solid #e4e4e4;}
.reg-sub-list{padding-top:22px; padding-bottom:20px; border-bottom:1px solid #e4e4e4;padding-left: 24px;}
.reg-list .active{background:#ffa800; color:#fff;}
.reg-list-input{color: #2d2d2d; /*font-family: helveticaNeue-Regular;*/ font-size: 5vw; font-weight: normal; border: none; width:100%;}
.editaddress .reg-list-input{/*color: #cbcbc8; font-family: lato;*/ font-size: 4.4vw; font-weight: normal; border: none; width:100%;}
.reg-list-select{color: #cbcbc8; font-size: 4.4vw; border: none; width:100%;border-bottom: 2px solid #feb321;background-color:unset;}
.reg-list-select:hover,.reg-list-select:focus,.reg-list-select:active{border: none;background-color:unset;border-bottom: 2px solid #feb321;}
.reg-list-select option{border: none;}
.reg-list-text{color: #7c7d75; /*font-family: helveticaNeue-Regular;*/ font-size: 4.4vw; /*font-weight: bold;*/}
.editaddress .reg-list-text{color: #7d7d76; /*font-family: helveticaNeue-Regular;*/ font-size: 3.8vw; font-weight: normal;}
.reg-list label{font-size: 4.3vw; font-family: roboto; color: #2d2d2d;margin-right: 46px;font-weight: 400;}
.reg-para{font-size: 3.5vw; color: #cbcbc8; padding-bottom: 7px; padding-top: 38px;}
.reg-bot-btn{background:  #0e69e5; font-size: 6vw; color: #fff; padding-top: 14px; padding-bottom: 6px; border: medium none; width: 100%;}
.check-img{float:left; padding-right: 20px;}
.check-text{font-size: 4vw; padding-top:0.5%; color:#2d2d2d;}
.reg-check-img{margin-right: -10%;}
/*========== DROPDOWN ==========*/
.drop-box{width:46.5%; background:#fff; border-radius:4px; padding-left:22px; font-size:3vw; float:right;}
.drop-box li:first-child{padding-top: 27px;}
.drop-box li:last-child{padding-bottom: 27px;}
.drop-box li{padding-top: 20px;padding-bottom: 22px;}

/*========== CATEGORY ==========*/
.cat-box{/*margin-bottom:16px;*/ background: #fff; border: 1px solid #d7d7d7; border-radius: 4px; /*padding-top: 10px;*/}
.cat-list-h{font-size:3.4vw; color:#7a7a7a;}
.cat-list-name{/*font-size: 3.7vw;*/font-size:24px; color:#4d4d4d;}
.font-3{/*font-size:3.4vw;*/font-size: 22px;}
.old-price{color: #7a7a7a; text-decoration: line-through;}
.new-price{color: #e5390e; padding-left: 5px;}
.product-qnty{/*font-size: 3.4vw;*/font-size:22px; color:#4d4d4d;}
/*.cat-list-box{position: absolute; right: 0px; bottom: 0px;}*/
.cat-list{display: inline-flex; border: 1px solid #e4e4e4; border-radius: 4px;}
.cat-minus{width: 30%; border-right: 1px solid rgb(228, 228, 228); background: #f4f4f4;/*text-align: center; padding-top: 18px;color: rgb(125, 125, 125); font-size: 32px; text-transform: full-width; font-weight: lighter;padding-top: 2px;*/}
.cat-minus img{position: absolute;top: 43%;left: 15%;transform: translate(-50%,-50%);width: 16%;}
.cat-plus{width: 30%; background: #f4f4f4;/*text-align: center;padding-top: 13px;  color: rgb(125, 125, 125); text-transform: full-width; font-weight: lighter; font-size: 32px; padding-top: 2px;*/}
.cat-plus img{position: absolute;top: 43%;left: 85%;transform: translate(-50%,-50%);width: 16%;}
.cat-input-box{width: 40%; border-right: 1px solid #e4e4e4;}
.cat-input-text{text-align: center; width: 100%; /*font-size: 6vw;*/font-size: 36px; padding-bottom: 4px; padding-top: 4px; border: medium none;}
.back-icon-mrg{margin-top: 1.4%;}

/*========== PRODUCT LISTING ==========*/
.prod-list-h{/*font-size:3.4vw;*/font-size:22px; color:#df4a32;}
.prod-list-qnty{/*font-size: 3.4vw;*/font-size:22px; color:#7d7d76;}
.prod-new-price{color:#e5390e; padding-left:5px; text-decoration:line-through;}
.header-middle-prod{background: #ee2d09 none repeat scroll 0 0;padding: 30px 16px 0;}
.nav-red{overflow:auto; background: #ee2d09 none repeat scroll 0 0;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.prod-nav-li{color: #fff; padding: 30px;/*text-transform: uppercase;*/white-space: nowrap;}

/*========== PRODUCT DESCRIPTION ==========*/
.header-middle-des{background: #ee2d09 none repeat scroll 0 0;padding: 30px 16px;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}

/*========== MY PROFILE ==========*/
.user-name{color: #2d2d2d; /*font-family: helveticaNeue-Regular;*/ font-size: 4.2vw;}
.user-details{font-size: 3.7vw; color:#7d7d76; /*font-family: helveticaNeue-Regular;*/}
.profile-box{background: #fff; box-shadow: 0 8px 6px -8px #999;}
.user-ul{font-size: 3.7vw; color: #2d2d2d;/*font-family: helveticaNeue-Regular;*/}
.user-info{border-bottom: 1px solid #e4e4e4;padding: 22px 30px; cursor: pointer;}
.user-icon-arr{margin-top:1%;}
.user-card{padding: 40px 30px;}
.edit-font{/*font-family: helveticaNeue-Regular;*/font-size:3.4vw; color:#7d7d76;}

/*========== ORDER HISTORY ==========*/
.ord-His-box{padding: 7px 16px;border: solid 1px #d7d7d7;border-radius: 4px;}
.order-li{font-size:3.7vw; padding: 3px 0;/*font-family: helveticaNeue-Regular;*/}
.order-li span:first-child{color: #7d7d76;}
.order-li span:nth-child(2){color: #2d2d2d; font-weight:bold;}

/*========== INTERNET FAIL ==========*/
.btn-retry{margin-top:16px; background:#0e69e5; border:medium none; color:#fff; padding:4.2% 0; border-radius:4px; width:44.7%;}
.font-4vw{font-size: 4.1vw;}
.no-conn{color:#2d2d2d; margin-top: 27px;}
.check-conn{color:#7d7d76;}

/*========== BILLING ADDRESS ==========*/
.b-left-icon{float:left; margin:7.2% 2% 6% 1.6%;}
.bill-head{margin:0px; font-size:4.1vw; color:#7d7d76; padding:6% 0 0;}
/*.bill-O-box{width:20%; float:right; margin-right:4.5%;margin-top: 4.3%;}*/
.bill-O-box{display:table; margin:0 auto;}
/*.bill-O{border: 1px solid #c8c8c8; border-radius:50%; float:left; margin: 0 2.5%; padding:9%;}*/
.bill-O{border:1px solid #c8c8c8; border-radius:50%; height:24px; width:24px; float:left;}
.bill-O-active{background: #44ee09;}
.bill-bar{border:1px solid #c8c8c8; width:50px; float:left; margin:11px 8px 0;}

/*========== BILLING ADDRESS ==========*/
.del-day-box{padding: 28px 0px 18px 16px; font-size:3.4vw;}
.del-day-box span:first-child{color:#2d2d2d;/*font-family: helvetica Neue;*/}
.del-day-box span:last-child{background:#ee2d09; color:#fff; border-radius:16px; padding:0 16px 0 16px;}
.btn-del{padding:30% 36.6%; border-radius:4px 0 0 4px; border:none; background:#e4e4e4;}
.btn-del-r{padding:30% 36.6%; border-radius:0 4px 4px 0; border:none; background:#e4e4e4;}
.del-day-input{font-family:roboto; text-align:center; font-size:4.4vw; padding:4% 0px;}
.del-card-box{box-shadow: 0px 2px 8px -5px;text-align: center;}
.del-time-card{border: 1px solid #e4e4e4; padding:32px 0; font-size:3.4vw; color:#2d2d2d;}
.del-card-active{background:#e4e4e4;}
.del-slot{color:#eaeaea;}
.del-slot-text{color:#910001; left:32%; position:absolute; top:0; padding:2% 0 0; font-size:3vw;}

/*========== ORDER FAIL ==========*/
.ord-btn{font-size:4.7vw; color:#fff; border:medium none; padding:18px 0px; width:100%;}
.ord-text{font-size:3.7vw; color:#2c5770; opacity:0.7;}
.ord-fail-text{font-size:5.6vw; color:#2c5770}
.btn-retry{background:#b22603;}
.btn-cash{background:#ffa800;}

/*========== LOGIN ==========*/
.login-back{background-image:url('../images/login-back.png'); background-attachment:fixed; background-position:center center; background-repeat:no-repeat; background-size:cover;position: absolute;top: 0;bottom: 0;}
.logo-box{margin-bottom:7.8%; margin-top:25.6%;}
.logo-box>div{padding-right:0px;}
.log-box{box-shadow:0px 1px 6px -4px; opacity:0.45; background:#fff;}
.log-border{border-bottom:1px solid #a24742;}
.log-place::-webkit-input-placeholder{color:#a79a8e;}
.log-place:-moz-placeholder{color:#a79a8e;}
.log-place::-moz-placeholder{color:#a79a8e;}
.log-place:-ms-input-placeholder{color:#a79a8e;}
.log-input{font-size:3.8vw; border:medium none;background: transparent none repeat scroll 0 0; color:#fff;padding-bottom: 5px;}
.log-input::-webkit-input-placeholder {color: #fff;}
.log-input:-moz-placeholder {color: #fff;}
.log-input::-moz-placeholder {color: #fff;}
.log-input:-ms-input-placeholder {color:#fff;}
.log-btn-img{padding-top: 2%;}
.forgot-text{font-size: 3.4vw; color: #b08685;}
.forgot-text:focus,.forgot-text:hover{color: #b08685; text-decoration: none;cursor: pointer;}
.log-text{padding:58px 16px 15px; text-align:center;}
.text-box{text-align:center; padding:32px 16px 16px;}
.text-line{border-top:1px solid #a24742; margin-top:2.8%;}
.login-text{font-size:3.5vw; color:#a79a8e;}

/*========== PAYMENT METHOD ==========*/
.pmeth-h{font-size:3.4vw; color:#2d2d2d; padding:20px 32px 14px; /*font-family:helvetica Neue;*/}
.pmeth-list li{font-size:4.3vw; color:#2d2d2d; border-bottom:1px solid #e4e4e4; padding: 22px 16px;/*font-family: helvetica Neue;*/}
.pmeth-card-h{border-bottom:1px solid #e4e4e4; padding:20px 0;/*font-family: helvetica Neue;*/}
.pmeth-card-h span:first-child{color:#2d2d2d;}
.pmeth-card-h span:last-child{color:#7d7d76; float:right;}
.pmeth-card{padding:12px 0px;}
.pmeth-card li{color:#7d7d76; padding:5px 0 5px;}
.pmeth-card li:last-child{color:#2d2d2d; /*font-weight:bold;*/ padding:3px 0 5px;/*font-family: helvetica Neue;*/}
.pmeth-card-font{color:#ffaa00; font-weight:bold;}
.card-input{font-size:3.6vw; padding:12px; border-radius:4px; box-shadow:0px 2px 8px -5px; width:70%;}
.card-input input{width: 100%; padding:16px; border-style:none none solid; border-width:medium medium 1px; border-color:#e4e4e4;/*font-family: helvetica Neue;*/}
.pmeth-btn{padding-left:6px; width:30%;}
.pmeth-btn button{width:100%; font-size:3.2vw; padding:30px 0; border:medium none; background:#ee2d09; color:#fff; border-radius:4px;/*font-family: helvetica Neue;*/}

/*========== ONE TIME PASSWORD ==========*/
.otp-text{font-size: 4.1vw; color:#2d2d2d;}
.otp-pass{border:1px solid #d8d8d8; background:#fff;font-size: 4.5vw; color:#000; font-weight:bold;}
.otp-btn{background:#0e69e5; width:100%; font-size:4.1vw; color:#fff; border:none; box-shadow:0 3px 7px -1px #999;}
.center-box{display:inline-block; position:relative; text-align:center;}
.center-box::before{content:""; display:block; position:absolute; z-index:-1; width:100%; height:100%; background:#000; opacity:0.8;}

/*========== LOCATION SELECTOR ==========*/
.loc-h{color:#fff; font-size: 4.4vw;}
.align-center{position:absolute; margin:0px; top:50%; transform:translate(0px, -50%);}
.loc-place{font-size: 5.6vw; color:#fff;margin-top: 10px;}

/*========== Search Screen ==========*/
.search-h{font-size:3.5vw; font-family:myriad pro; padding:28px 0 18px 44px;}
.search-list{font-size:4.1vw; font-family:roboto; padding:20px 0 14px 32px;}
.search-box li{border-bottom: 1px solid #e8e8e8;}

/*========== Search Screen ==========*/
.od-h{padding: 24px 0px 14px 30px;}
.od-h>span{font-size: 4vw; color:#2d2d2d;}
.od-list{border-bottom: 1px solid #e4e4e4; padding-bottom: 16px; padding-top: 24px;}
.od-list-h1{font-size: 3.5vw; color:#7d7d76;}
.od-list-h2{font-size: 4.4vw; color:#2d2d2d;}
.od-list-h3{font-size: 4.7vw; color:#2d2d2d;}
.od-list-h4{font-size: 4.2vw; color:#7d7d76;padding-top: 5px; padding-bottom: 5px;font-weight: 300;}
.od-total-h{font-size: 4.7vw; color:#2d2d2d;font-weight: bold;padding-bottom: 15px;}
.od-save-h{font-size: 4.4vw; color:#ffa800;font-weight: bold;}

/*========== ORDER SUCCESS ==========*/
.os-box1{text-align: center;padding-top: 80px;}
.os-box2{text-align: center; padding-top: 30px;}
.os-box1-h1{font-size: 15vw; color:#d62c20;font-weight: 400;}
.os-box1-h2{font-size: 5vw; color:#d62c20;font-weight: 300;padding-top: 10px;}
.os-box1-h3{font-size: 4.5vw; color:#2d2d2d;font-weight: 300;padding-top: 40px;}
.os-box1-h4{font-size: 4.5vw; color:#2d2d2d;font-weight: 300;padding-top: 10px;}
.os-btn{width: 100%; padding: 10px; font-size: 4vw; color: #fff; background:#d62c20; border: medium none; border-radius: 4px;}
.os-box2-h1{font-size: 3.85vw; font-weight: bold;}
.os-social-icon{width: 25%; float: left; padding: 0px 16px 0px 16px;}

/*========== ORDER SUCCESS ==========*/
.ao-img-block{position: absolute; top: 5%; left:10%;}
.ao-text0{font-size:5.5vw; color:#fff; float:left; text-align:center; border-right: 2px solid #7d7d7d;}
.ao-text1{font-size:3.5vw; color:#fff; float:left; padding-right: 10%; border-right: 2px solid #7d7d7d;}
.ao-text2{font-size:8vw; color:#fff;font-weight: 200; margin-top: -3.5%; padding-left: 38%;line-height: 1.1;}
.ao-text3{font-size:8vw; color:#fff;font-weight: 200; margin-top: -3.5%;line-height: 1.1;}

/*========== ORDER SUCCESS ==========*/
.subc-h1{width:100%;/* padding: 13px 0; background: #000;*/ bottom: 6.2%; display: block; position: absolute; opacity: 0.8;font-size: 3.4vw; color:#fff;text-align:right;content: "";font-weight: 300;right: 3.4%;}
.subc-h2{font-size: 5.6vw;padding-left: 26px;font-weight: 100;color:#fff;}
.subc-btn{padding: 10px 1px;font-size:3.8vw; background:#fff; border: 1px solid #d7d7d7; border-radius:4px; width:100%;box-shadow: 2px 2px 3px -2px; color:#2d2d2d;}

.btn-bottom{position: absolute; left: 0px; right: 0px; bottom: 0px;}
.modal-body{background-image:url('../images/location-back.png'); background-attachment:fixed; background-position:center center; background-repeat:no-repeat; background-size:cover;}
.subcat-btn{padding: 10px 5px 0;}
.delet-icon{float: right;/*margin-right: 5px;*/margin-top: 1px;}
.slide-img{width: 368px;}
.dot-border{box-shadow:0px 2px 8px -5px; border-radius:4px; border:1px dashed #f07d67;}
.succes-back{background-image:url('../images/order-back.png'); background-attachment:fixed; background-position:center center; background-repeat:no-repeat; background-size:cover;padding-bottom: 30px;}
.cart-image{position: absolute;right: 16px; top: 1%;}
.cart-txt{font-size: 3.6vw; position: absolute; right: 23px; top: -1%;}
.add-btn{background: #0e69e5;border: medium none;border-radius: 4px;color: #fff;/*font-size: 5vw;*/font-size: 34px;padding: 6px;width: 100%;}
.add-btn-box{float:right; right: 12px;padding-bottom: 10px; width:28%;}
.bill-checkbox{margin-top: 9px !important; transform: scale(2);}
.pmt-checkbox{margin-top: 12px !important; transform: scale(2);}
.paytm-check{margin-top: -30px !important;transform: scale(2);}
.back-img-mr{display:inline; margin-top:-10px;}
.ss-menu{padding-bottom:0 !important;/* font-weight: bold;*/}
.log-text>.text-line{width:20.5%;}
.myselect select{box-shadow:none;	-webkit-appearance:none; -moz-appearance:none; appearance:none; -ms-appearance:none; -o-appearance:none;}
.myselect > .reg-list-select{color:#2d2d2d;}
.prod-sec{margin-bottom: 192px;}
.cart-box-botom{position:fixed; bottom:75px; left:0; right:0;}
.cart-margin{margin-bottom:28%; margin-top: 88px;}
.header-fix-top .header-middle{height:184px;}
.top-height{height: 104px;}
.deals-head .deals-hide{display: none;}
.banner-slide{width:420px; height: 200px;}
.cat-border .header-middle {height: auto;}
.reg-btn-margin{margin-top:104px;}
.cart-img-heigth{height:125px;}
.prod-img-heigth{height: 125px;/*position: absolute;*/}
.search-img{/*height: 125px;position: absolute;*/}
.del-div > div:nth-child(1){display: none;}
.offer-arrow-img{margin-top:-2px;}
/*.cart-margin .cat-box, .del-div .cat-box {padding-top:5px;}*/
.card-height{height: 206px;}
.card-img-box{height:204px; position: relative;}
.list-img-box{height:174px; position: relative;}
.card-img-center{position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0;padding: 0 5px 0 5px; width:95%;}
.loc-icon{width: 4%;margin-top: 5px;margin-right: 30px; display:inline; float:left;}
.edit-icon{width: 5%;margin-top: 5px;display:inline; float:right;}


@media  (max-width: 460px){
	.margin-0-m{margin:0}
	.img-text-box{bottom: 50px;}
	.slide-img{width: 210px;}
	.li-border {height:120px;margin-left: 12px;margin-right: 12px;}
	.ul-height{height:120px;}
	.header-middle {/*padding: 30px 8px 16px;*/ padding: 16px 8px 8px;}
	.margin-top16-m{margin-top:16px;}
	.padd0-m{padding:0px;}
	.pad8-m{padding:8px;}
	.margin-tp6-m {margin-top: 6px;}
	.margin-bt10-m {margin-bottom: 10px;}
	.pad-lt16-m{padding-left:16px;}
	.pad-lt-rt16-m{padding-left:16px; padding-right:16px;}
	.pad-lt-rt8-m{ padding: 0 8px;}
	.pad-ltr8-m{padding: 8px 8px 0;}
	.margin-lt8-m {margin-left: 8px;}
	.margin-lt12-m {margin-left: 12px;}
	.margin-rt12-m {margin-right: 12px;}
	.margin-tp-bt-16m{margin: 16px 0;}
	.margin-t20-m{margin-top:20px;}
	.back-icon-mrg {margin-top: 0.7%;}
	.header-middle-cadd{padding: 15px 8px;}	
	/*.nav-li{padding: 16px 29px;}*/
	/*.nav-list li:nth-child(1) {padding: 17px 12px 11px 16px;}*/
	.nav-li {padding: 12px;}
	.menu-item .plus-sign {margin-top: -3px; margin-right:15px;}
	/*.menu-item {padding: 10px 0;}*/
	.menu-item-h {padding: 24px 0 17px 16px;}
	.menu-item ul {padding-left: 16px;}
	.menu-item img{margin-right:15px; margin-top:4px;}
	.sub-item {padding: 16px 0;}
	.item-shop {padding-top: 16px;}	
	.drop-box{padding-left:11px;}
	.drop-box li:first-child{padding-top: 13px;}
	.drop-box li:last-child{padding-bottom: 13px;}
	.drop-box li{padding-top: 4px;padding-bottom: 11px;}	
	.back-icon-mrg img{width:70%;}
	/*.cat-minus{padding-top:2px;}*/
	/*.cat-plus{padding-top: 2px;}	*/
	.header-middle-reg{padding: 15px 8px;}
	/*.reg-list {padding-bottom: 7px;padding-top: 7px;}*/
	.reg-para {padding-bottom: 5px; padding-top: 20px;}
	.btn-google{margin-left:2%;}
	.reg-btn {padding-right: 10px; width: 48%;}
	.header-middle-prod {padding: 15px 16px 0;}	
	/*.prod-nav-li{padding: 16px 22px;}*/
	.header-middle-des{padding: 15px 8px;}	
	.user-card{padding: 20px 15px;}
	/*.user-info {padding: 6px 16px;}*/
	.user-icon-arr{width:3%; margin-top:.6%;}
	.order-li {padding: 5px 0;}	
	.check-img{width: 13.5%}	
	/*.bill-O-box {margin-right:3.5%;}*/
	/*-bill-O {margin: 0 1.9%;}*/
	.bill-check-img{width:10%}
	.bill-plus-img{width:7%;margin-top: -1%;}
	.bill-right-img{width:3.5%;}
	.b-left-icon {margin: 6.4% 2% 6% 1.6%; width:4%;}
	.del-day-box {padding: 13px 8px 9px;}
	.del-day-input {padding: 5% 0;}
	.del-time-card {padding: 16px 0;}
	.del-slot-text {padding:0;}
	.logo-box {margin-bottom:6.8%; margin-top:9.5%;}
	/*.log-text {padding:24px 0 10px;}*/
	.text-box{padding:16px 0px 8px;}
	.log-input {/*padding-bottom:10px;*/}
	.pmeth-chek{width: 8%;}
	.pmeth-icon{width: 19%;}
	.pmeth-mob-icon{width: 33%;}
	/*.pmeth-h {padding: 10px 16px 7px;}*/
	.pmeth-btn button {padding: 16px 0;}
	.card-input {padding: 6px;}
	.card-input input {padding: 8px;}
	.reg-check-img{width: 35%;}
	.reg-check-img-f{width: 30%;}
	.search-h{padding:14px 0 9px 22px;}
	.search-list{padding:10px 0 7px 16px;}
	.os-box1 {padding-top: 40px;}
	.os-box1-h3 {padding-top: 20px;}
	.padd-t25-m{padding-top: 25px;}
	.os-box2 {padding-top: 15px;}
	.os-social-icon {padding: 0 8px;}
	.ao-img-block {left: 13%;}
	.slide-ul li{/*height: 158px;*/ padding-left: 14px; padding-right: 14px;}
	.slide-ul {/*min-height: 188px; */padding-left:2px;}
	.slider-text {letter-spacing:4px; margin-bottom:16px; margin-top:29px;}
	.dropdown-img {right: 16px;    margin-top: 7px;}
	.margin-tp-6p-m{margin-top:6.5%;}
	.menu-subitem-h > img{width:9%;}
	.imgbox-margin-m{margin:3.7px;}
	.delet-icon{width:7.5%;}
	.cart-image{width:11%;}
	.cart-txt {right: 20px;}
	.bill-checkbox{margin-top: 4px !important;}
	.pmt-checkbox {margin-top: 7px !important;}
	.back-img-mr{width:7.5%;margin-top:-5px;}
	.margin-t16-m{margin-top: 16px;}
/*	.subc-h1 {bottom: 7.2%;}*/
	.cat-img-mrg {margin-top: 114px;}
	/*.prod-sec{margin-bottom: 153px;}*/
	/*.left-menu{top: 93.2%;}*/
	.top-subhead {height: 52px;top: 54px;}
	.prod-nav-li {padding: 12px;}
	.reg-btn {padding: 3.8% 0 4% 5%;font-size: 5vw;}
	.reg-btn>img {margin-top: -5px;margin-bottom: -5px;}
	.cart-margin{margin-bottom:30%; margin-top: 62px;}
	.prod-sec {margin-bottom: 102px;}
	/*.cat-box{margin-bottom:8px;}*/
	.header-fix-top .header-middle {height: 129px;}
	.head-icon-width{width:100%;}
	.head-user-icon{width:120%;}
	.top-height {height: 52px;}
	.top-head  .header-middle{height: 62px;}
	.deals-head .header-middle {height: 80px;}
	.deals-img {margin-top: 114px;}
	.banner-slide{width:340px; height: 140px;}
	.offer-img-mrg{margin-top: 116px;}
	.cat-border .header-middle {height: auto;}
	.user-wrapper {margin-top: 62px;}
	.plus-minus-btn{width:45%;}
	.cat-plus {font-weight: normal;}
	.wrapper{margin-top: 62px;}
	.reg-btn-margin {margin-top: 78px;}
	.cart-img-heigth{height:100px;}
	.prod-img-heigth{height: 100px; margin-top: 10%;}
	.search-img{/*height: 100px; position: absolute;*/}
	.inner-body{margin-top:62px;}
	.offer-arrow-img{width:4%;}
	.cat-list-name {font-size: 20px;}
	.prod-list-h, .font-3 , .prod-list-qnty, .product-qnty {font-size: 18px;}
	.cat-input-text, .add-btn {font-size: 24px;}
	.cat-plus img, .cat-minus img {top: 40%;}
	.card-height {height: 164px;}
	.card-img-box {height: 162px;}
	.list-img-box{height: 140px;}
	.bot-foot {height: 65px;}
	.cart-box-botom {bottom: 65px;}
	.search-bar{font-size: 14px; padding: 8px 0px 8px 5px;}
	.list-icon{width: 28px; margin-top: 4px;}
	.search-icon-pos {width: 24px; top:7px;}
	.loc-icon{width: 6%;margin-top: 0;}
	.edit-icon{width: 7%;margin-top: 0;}
}

@media  (max-width: 360px){
	.more-icon-mrg {margin-top: 13%;}
	/*.subc-h1 {width: 96.4%;}*/
	.cat-minus{padding-top:5px;}
	.cat-plus{padding-top: 5px;}
	.bill-checkbox{margin-top: 2px !important;}
	.menu-item img:nth-child(2){margin-top:10px;}
	.menu-item img{/*margin-right:15px; */margin-top:2px;}
	.slider-text {letter-spacing: 3px;}
	/*.left-menu{top: 92.5%;}*/
	.top-subhead {top: 44px;height: 50px;}
	.reg-btn {padding: 5% 0 5% 5%;}
	.reg-btn>img {margin-top: -8px;margin-bottom: -8px;}
	.cart-margin{margin-bottom:32%; margin-top:52px;}
	.top-height {height: 50px;}
	.top-head .header-middle {height: 52px;}
	.prod-sec {margin-bottom: 90px;}
	/*.header-fix-top .header-middle {height: 117px;}*/
	.cat-img-mrg {margin-top: 110px;}
	.deals-img {margin-top: 104px;}
	.banner-slide{width:330px; }
	.offer-img-mrg{margin-top: 104px;}
	.user-wrapper {margin-top: 52px;}
	.plus-minus-btn{width:50%;}
	.wrapper{margin-top: 52px;}
	.reg-btn-margin {margin-top: 68px;}
	.cart-img-heigth{height:90px;}
	.prod-img-heigth{height: 90px;}
	.search-img{/*height: 90px; left: 0;*/}
	.inner-body{margin-top:52px;}
	.offer-arrow-img{width:3%;}
	.bot-foot {height: 55px;}
	.cart-box-botom {bottom: 55px;}
	.prod-list-h, .font-3 , .prod-list-qnty, .product-qnty {font-size: 16px;}
	.cat-list-name {font-size: 18px;}
	.cat-input-text, .add-btn {font-size: 20px;}
	.add-btn {padding:5px;}
	.card-height {height: 148px;}
	.card-img-box {height: 146px;}
	.search-icon-pos {/*top: 14px;width: 30px;*/}
	.list-img-box{height: 124px;}
}

/*------------------------- SPRITE IMAGE -------------------------*/
.mobi-icon, .paytm-icon, .location-icon-unselected, .location-icon-selected, .more-icon, 
.list, .check-box, .logo-icon, .cart, .cart1, 
.home, .profile, .search1, .search-icon, .back-icon, 
.plus, .deliver-l, .deliver-r, .fb, .google, 
.p-right-icon, .left-icon, .right-icon
{ max-width: 100%; background-size: 100%; background-image: url('../images/sprites.png'); }
 
.mobi-icon { background-position: 0 0%; background-size: 100%; }
.paytm-icon { background-position: 0 5.103668%; background-size: 170%; }
.location-icon-unselected { background-position: 0 10.423453%; background-size: 194.285714%; }
.location-icon-selected { background-position: 0 17.723577%; background-size: 200%; }
.more-icon { background-position: 0 23.81323%; background-size: 289.361702%; }
.list { background-position: 0 27.12%; background-size: 302.222222%; }
.check-box { background-position: 0 32.45614%; background-size: 309.090909%; }
.logo-icon { background-position: 0 37.68%; background-size: 316.27907%; }
.cart { background-position: 0 42.879873%; background-size: 323.809524%; }
.cart1 { background-position: 0 47.770701%; background-size: 323.809524%; }
.home { background-position: 0 52.707006%; background-size: 323.809524%; }
.profile { background-position: 0 57.643312%; background-size: 323.809524%; }
.search1 { background-position: 0 62.579618%; background-size: 323.809524%; }
.search-icon { background-position: 0 67.248216%; background-size: 367.567568%; }
.back-icon { background-position: 0 71.315997%; background-size: 453.333333%; }
.plus { background-position: 0 75.11811%; background-size: 485.714286%; }
.deliver-l { background-position: 0 79.022082%; background-size: 800%; }
.deliver-r { background-position: 0 82.9653%; background-size: 800%; }
.fb { background-position: 0 86.840032%; background-size: 850%; }
.google { background-position: 0 90.70134%; background-size: 850%; }
.p-right-icon { background-position: 0 94.191523%; background-size: 971.428571%; }
.left-icon { background-position: 0 97.1875%; background-size: 1133.333333%; }
.right-icon { background-position: 0 100%; background-size: 1360%; }

/* This CSS has been added by Binit */
.error-message{color:#FF0000; font-size: 11px;}
.black_shade{position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black; z-index:1001;-moz-opacity: 0.7; opacity:.7;filter: alpha(opacity=40);padding:11px 20px;}
.popupcontainerloader {position:fixed; top:15%;max-width: 790px; width:60%; height: auto; margin:0 auto; left:0; right:0;padding:1px;z-index:1002;overflow:visible;border-radius: 7px 7px 7px 7px; top:40%; *left:21%;}

/* Change in Bootstrap Class */
.btn-primary,.btn-primary:focus, .btn-primary:hover ,.btn-primary.active, .btn-primary:active   {background-color: unset; background-image: none; box-shadow: none; border-color:unset;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {background-color: unset;background-image: none; box-shadow: none; border-color:unset;}
.modal-dialog,.modal-content,.modal-body{position:absolute; top:0;left:0;bottom:0; right:0; margin:0;border:none;}

.ribbon {
 	font-size: 16px !important;
 	margin:0;
 	background: #fec70d;
 	color: #e5111e;
 	text-align: center;
 	padding: 10px;
  	/*
	position: absolute;
	-webkit-transform: rotate(320deg);
  	-moz-transform: rotate(320deg);
  	-o-transform: rotate(320deg);
  	-ms-transform: rotate(320deg);
  	transform: rotate(320deg);
	top: 40px;
    left: -27px;
    z-index: 1;
    width: 238px;
	*/
  	
}
.text-ellipsis{
	display: block;	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
