body{background: #f4f4f4;}
.header-top{background: #B22603; height: 48px;}
.header-middle{padding: 30px 16px 16px; background: #EE2D09; box-shadow:  0 2px 4px 3px rgba(0, 0, 0, 0.16);}
.width-100{width: 100%;}
.margin0{margin: 0px;}
.padd0{padding:0px;}
.pad4{padding:4px;}
.margin-top10{margin-top: 10px;}
.margin-rt15{margin-right: 15px;}
.margin-lt15{margin-left:15px;}
.margin-top15{margin-top: 15px;}
.margin-bot15{margin-bottom: 15px;}
.margin-tp22{margin-top: 22px;}
.margin-bt22{margin-bottom: 22px;}
.margin-lt25{margin-left:25px;}
.profile-lt{margin-left: 25%;}
.cart-lt{margin-left: 40%;}
.float-rt{float: right;}
.search-bar{width: 100%; font-family: roboto; font-size: 22px; padding: 7px 0px 7px 5px; border: medium none;}
.search-input{height: 64px; border-radius: 4px; background: #fff; margin-top: 32px;}
.list-icon{margin: 8px 0px 0px;}
.list-icon img{height: 47px; width:47px;}
.search-icon{margin: 13px 0px 0px;}
.search-icon img{height:45px; width: 38px;}
.img-box{background: #fff;border-radius: 3px;box-shadow: 0 1px 2px 0;}
.imgbox-rt-margin{margin-right: 7.5px;}
.imgbox-lt-margin{margin-left: 7.5px;}
.slider{box-shadow: 2px 2px 2px 3px #c7c7c7;background: #fff;}
.slider-text{font-family: Roboto; font-size: 32px; color: #2d2d2d;}
.slide-text{border:1px solid #F7EBE9; text-align:center; border-radius:4px; color:#e78e78; font-family:roboto; font-size:22px; letter-spacing:2px; padding:15px 0 10px; margin-bottom:24px; margin-top:24px; width:100%;}
.slider-list{display: inline-flex;overflow: hidden;margin-left: 32px;}
.li-border{border-right: 1px solid #dedede;}
/*========== LEFT PANEL ==========*/
.left-menu{background: #f4f4f4; width: 50%; box-shadow: 0px 0px 20px 2px; font-family: roboto; color: #8e8e8e;}
.menu-item-h{ font-size: 28px; padding: 48px 0 34px 32px;border-bottom: 2px solid #d2d2d2;}
.item-shop{background: #fff;font-size: 22px; padding: 32px 0 36px 32px;letter-spacing: 2px;}
.menu-item{background:#fff; font-size:26px; padding:32px 0 32px 32px; border-bottom:1px solid #d2d2d2; font-weight:bold;}
.menu-item img{float:right; margin-right:32px; margin-top:12px;}